<div class="photo-list scrollable-container">
  <ul class="image-row">
    <li *ngFor="let photo of images; let i = index;">
      <img src="{{ photo }}"  alt="Photo" (click)="openPreviewImage(i)">
    </li>
  </ul>
  <div *ngIf="previewImage" class="LightBox">
    <button *ngIf="previewImage" class="close-btn" (click)="closeImagePreview()">
      <span  class="material-symbols-outlined">close</span>
    </button>
    <button class="btn-lightbox-carousel btn-prev" (click)="prev()">
      <i  class="fas fa-arrow-circle-left icon-lightbox-carousel icon-prev"></i>
    </button>
    <button   class="btn-lightbox-carousel btn-next" (click)="next()">
      <i  class="fas fa-arrow-circle-right icon-lightbox-carousel icon-next"></i>
    </button>
    <div *ngIf="previewImage" class="lightbox-img">
      <b>{{rows[0].column2}}</b>
      <img src="{{currentLightboxImage}}" id="lightboximg" alt="Photo">
    </div>
  </div>
</div>
