.photo-list ul {
  list-style-type: none;
  padding: 0;
}

.photo-list .image-row {
  display: flex;
  flex-wrap: wrap;
}

.photo-list .image-row li {
  flex-basis: calc(33.33% - 10px); /* This will distribute the images evenly with a small gap between them */
  margin: 5px; /* Set the margin between images */
}

.photo-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.photo-list img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}
