.photo-list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left:7px;
  padding-right: 7px;
}

.photo-list ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-wrap: wrap;
  background-color: #E8F2FF;
  min-width: 642px;
  border-radius: 16px;
}

.photo-list .image-row {
  display: flex;
  flex-wrap: wrap;
}

.photo-list .image-row li {
  flex-basis: calc(33.33% - 10px); /* This will distribute the images evenly with a small gap between them */
  margin: 5px; /* Set the margin between images */
}

.photo-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #ffff;
  padding: 5px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.photo-list img {
  width: 240px;
  height: 200px;
  object-fit: cover;
  border-radius:10px;
}

li:hover{
  cursor: pointer;
  opacity:0.8;
}


.LightBox{
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn{
  position:absolute;
  top:0;
  right:1%;
  color:black;
  background: 0 0;
  border: 0;
  
cursor: pointer;
  width: 7%;
  height: 10%;
  z-index:2;
}
.material-symbols-outlined{
  font-size: 35px;
}
.fa-times{
  font-size: 25px;
}

.btn-lightbox-carousel{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width:8%;
  height: 8%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border:0;
  cursor: pointer;
}
.btn-prev{
  left:3%;
  font-size:30px;
  justify-content: left !important;
  margin-left:2.2% !important ;
}
.btn-next{
  right:3%;
  font-size:30px;
}
.icon-lightbox-carousel{
  color:#fff;
  opacity:0.5;
  transition: all 0.15s ease;
}
.icon-lightbox-carousel:hover{
  opacity:0.9;
}
.icon-lightbox-carousel:active{
  opacity:0.5;
}
.lightbox-img{
  width: 100%;
  height: 100%;
  border-radius: .35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#lightboximg{
  width:90%;
  height:90%;
}

b{
  position: absolute;
  top:0;
  align-items: center;
}