.table {
  overflow: hidden; /* Hide overflow if table exceeds the container */
}

tr{
  max-height: 24px;
}
td{
  color: #525252;
  font-weight: 400;
  font-size: 14px;
}
p{
  color:#393838;
  font-weight:500;
  font-size: 14px;
}

.table tbody tr:nth-child(even) {
  background-color: #ffff; /* Alternate row background color */
}

.table tbody tr:hover {
  background-color: #eaf6ff; /* Highlight row on hover */
}

.scrollable-container {
  border-radius:16px;
  overflow-x: hidden;
  background-color: #ffff;
}
