<div class="scrollable-container">
  <table class="table ">
    <tbody>
      <ng-container *ngIf="rows.length > 1 && rows[1].column2 === true">

        <table class="table header">
          <tbody class="table-body">
            <ng-container *ngFor="let row of rows; let i = index">
              <tr *ngIf="i === 0" style="border-bottom: 1px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                <td class="centre">
                  <p>{{ getFormattedColumn2Value(row.column2) }}</p>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <table class="table bool">
          <tbody class="table-body">
            <ng-container *ngFor="let row of rows; let i = index">
              <tr *ngIf="i === 1" style="border-bottom: 1px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                <ng-container
                  *ngIf="!(row.column1 === 'Additional Considerations or Concerns Html' || row.column1 === 'Additional Considerations or Concerns')">
                  <td class="un-left">
                    <p>{{ row.column1 }}</p>
                  </td>
                  <td class="un-right"><span class="bool-right-text"
                      [ngStyle]="{ 'background-color': getBackgroundColorBool(row.column1, row.column2) }">{{
                      getFormattedColumn2Value(row.column2) }}</span></td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <table class="table con">
          <tbody class="table-body">
            <ng-container *ngFor="let row of rows; let i = index">
              <tr *ngIf="i === 8" style="border-bottom: 1px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                <td class="un-left">
                  <p>{{ row.column1 }}</p>
                </td>
                <td class="un-right">{{ getFormattedColumn2Value(row.column2) }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>

      <!-- VISUAL -->
      <div class="scrollable-container">
        <ng-container *ngIf="rows.length > 1 && rows[1].column2 === false">
          <table class="table header">
            <tbody class="table-body">
              <ng-container *ngFor="let row of rows; let i = index">
                <tr *ngIf="i === 0" style="border-bottom: 0.25px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                  <td class="centre">
                    <p>{{ getFormattedColumn2Value(row.column2) }}</p>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <div class="first-row">
            <table class="table bool">
              <tbody class="table-body">
                <ng-container *ngFor="let row of rows; let i = index">
                  <tr *ngIf="i === 1 || (i >= 5 && i <= 7)" style="border-bottom: 0.25px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                    <ng-container
                      *ngIf="!(row.column1 === 'Additional Considerations or Concerns Html' || row.column1 === 'Additional Considerations or Concerns')">
                      <td class="bool-left">
                        <p>{{ row.column1 }}</p>
                      </td>
                      <td class="bool-right"><span class="bool-right-text"
                          [ngStyle]="{ 'background-color': getBackgroundColorBool(row.column1, row.column2) }">{{
                          getFormattedColumn2Value(row.column2) }}</span></td>
                    </ng-container>
                  </tr>
                </ng-container>
              </tbody>
            </table>

            <table class="table lyf">
              <tbody class="table-body">
                <ng-container *ngFor="let row of rows; let i = index">
                  <tr *ngIf="i >= 9 && i <= 12" style="border-bottom: 0.25px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                    <ng-container
                      *ngIf="!(row.column1 === 'Additional Considerations or Concerns Html' || row.column1 === 'Additional Considerations or Concerns')">
                      <td class="lyf-left">
                        <p>{{ row.column1 }}</p>
                      </td>
                      <td class="lyf-right">
                        <span class="lyf-right-text"
                          [ngStyle]="{ 'background-color': getBackgroundColorLyf(row.column2) }">{{
                          getFormattedColumn2Value(row.column2) }}</span>
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          
          <table class="table element">
            <tbody class="table-body">
              <ng-container *ngFor="let row of rows; let i = index">
                <tr *ngIf="i >= 2 && i <= 3" style="border-bottom: 0.25px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                  <ng-container
                    *ngIf="!(row.column1 === 'Additional Considerations or Concerns Html' || row.column1 === 'Additional Considerations or Concerns')">
                    <td class="element-left">
                      <p>{{ row.column1 }}</p>
                    </td>
                    <td class="element-right">
                      <ng-container *ngFor="let chip of row.column2">
                        <span class="element-right-text">{{ getFormattedColumn2Value(chip) }}</span>
                      </ng-container>
                    </td>

                  </ng-container>
                </tr>
              </ng-container>

              <ng-container *ngFor="let row of rows; let i = index">
                <tr *ngIf="i === 4" style="border-bottom: 0.25px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                  <ng-container
                    *ngIf="!(row.column1 === 'Additional Considerations or Concerns Html' || row.column1 === 'Additional Considerations or Concerns')">
                    <td class="element-left">
                      <p>{{ row.column1 }}</p>
                    </td>
                    <td class="element-right"><span class="element-right-text"
                        [ngStyle]="{ 'background-color': getBackgroundColorElement(row.column2) }">{{
                        getFormattedColumn2Value(row.column2) }}</span></td>

                  </ng-container>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <table class="table con">
            <tbody class="table-body">
              <ng-container *ngFor="let row of rows; let i = index">
                <tr *ngIf="i === 8" style="border-bottom: 0.25px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                  <td class="con-left">
                    <p>{{ row.column1 }}</p>
                  </td>
                  <td class="con-right">{{ getFormattedColumn2Value(row.column2) }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
      </div>


      <!-- INVASIVE SECTION-INFO -->
      <ng-container
        *ngIf="rows.length === 2 && rows[1].column2 !== false && rows[1].column2 !== true && rows[0].column1 === 'Invasive Description'">
        <table class="table bool">
          <tbody class="table-body">
            <ng-container *ngFor="let row of rows; let i = index">
              <tr *ngIf="i === 1" style="border-bottom: 0.25px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                <td class="bool-left">
                  <p>{{ row.column1 }}</p>
                </td>
                <td class="bool-right"><span class="bool-right-text"
                    [ngStyle]="{ 'background-color': getBackgroundColorBool(row.column1, row.column2) }">{{
                    getFormattedColumn2Value(row.column2) }}</span></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <table class="table con">
          <tbody class="table-body">
            <ng-container *ngFor="let row of rows; let i = index">
              <tr *ngIf="i === 0" style="border-bottom: 1px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                <td class="con-left">
                  <p>{{ row.column1 }}</p>
                </td>
                <td class="con-right"><span>{{
                    getFormattedColumn2Value(row.column2) }}</span></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>

      <!-- CONCLUSIVE (IF PROPRTY OWNER AGREED: FALSE) -->
      <ng-container
        *ngIf="rows.length === 2 && rows[1].column2 !== false && rows[1].column2 !== true && rows[1].column1 === 'Property Owner Agreed'">
        <table class="table bool">
          <tbody class="table-body">
            <ng-container *ngFor="let row of rows; let i = index">
              <tr *ngIf="i >= 0 && i <= 1" style="border-bottom: 0.25px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                <td class="bool-left">
                  <p>{{ row.column1 }}</p>
                </td>
                <td class="bool-right"><span class="bool-right-text"
                    [ngStyle]="{ 'background-color': getBackgroundColorBool(row.column1, row.column2) }">{{
                    getFormattedColumn2Value(row.column2) }}</span></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>

      <!-- CONCLUSIVE (IF PROPRTY OWNER AGREED: FALSE) -->
      <ng-container
        *ngIf="rows.length === 6 && rows[1].column2 !== false && rows[1].column2 !== true && rows[5].column1 === 'Property Owner Agreed'">

        <div class="first-row">
          <table class="table bool">
            <tbody class="table-body">
              <ng-container *ngFor="let row of rows; let i = index">
                <tr *ngIf="i >= 4 && i <= 5" style="border-bottom: 0.25px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                  <td class="bool-left">
                    <p>{{ row.column1 }}</p>
                  </td>
                  <td class="bool-right"><span class="bool-right-text"
                      [ngStyle]="{ 'background-color': getBackgroundColorBool(row.column1, row.column2) }">{{
                      getFormattedColumn2Value(row.column2) }}</span></td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <table class="table lyf">
            <tbody class="table-body">
              <ng-container *ngFor="let row of rows; let i = index">
                <tr *ngIf="i === 0 || (i >= 2 && i <= 3)" style="border-bottom: 0.25px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                  <ng-container
                    *ngIf="!(row.column1 === 'Additional Considerations or Concerns Html' || row.column1 === 'Additional Considerations or Concerns')">
                    <td class="lyf-left">
                      <p>{{ row.column1 }}</p>
                    </td>
                    <td class="lyf-right">
                      <span class="lyf-right-text"
                        [ngStyle]="{ 'background-color': getBackgroundColorLyf(row.column2) }">{{
                        getFormattedColumn2Value(row.column2) }}</span>
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <table class="table con">
          <tbody class="table-body">
            <ng-container *ngFor="let row of rows; let i = index">
              <tr *ngIf="i === 1" style="border-bottom: 0.25px solid rgb(88, 85, 85); border-top: 0.25px solid rgb(88, 85, 85)">
                <td class="con-left">
                  <p>{{ row.column1 }}</p>
                </td>
                <td class="con-right"><span>{{
                    getFormattedColumn2Value(row.column2) }}</span></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>

    </tbody>
  </table>
</div>



<!-- Inside the template where you use lyf-right class -->
<!-- <td class="lyf-right" [ngStyle]="{ 'background-color': getBackgroundColor(row.column2) }">
  {{ getFormattedColumn2Value(row.column2) }}
</td> -->