<div class="scrollable-container">
  <table class="table">
    <tbody>
    <ng-container *ngIf="rows.length > 1 && rows[1].column2 === true">
      <tr>
        <td><p>{{ rows[0].column1 }}</p></td>
        <td>{{ rows[0].column2 === "True" || rows[0].column2 === "true" || rows[0].column2 === true ? "Yes" : rows[0].column2 === "False" || rows[0].column2 === "false" || rows[0].column2 === false ? "No" : rows[0].column2 }}</td>
      </tr>
      <tr>
        <td><p>{{ rows[1].column1 }}</p></td>
        <td>{{ rows[1].column2 === "True" || rows[1].column2 === "true" || rows[1].column2 === true ? "Yes" : rows[1].column2 === "False" || rows[1].column2 === "false" || rows[1].column2 === false ? "No" : rows[1].column2 }}</td>
      </tr>

      <tr *ngIf="rows.length>8">
        <td><p>{{ rows[8].column1 }}</p></td>
        <td>{{ rows[8].column2 === ""? "None" : rows[8].column2 }}</td>
      </tr>
    </ng-container>

    <ng-container *ngIf="rows.length > 1 && rows[1].column2 === false">
    <tr *ngFor="let row of rows">
      <ng-container *ngIf="!(row.column1 === 'Additional Considerations or Concerns Html' || row.column1 === 'Additional Considerations or Concerns')">
      <td><p>{{ row.column1 }}</p></td>
      <td>{{ row.column2 === "True" || row.column2 === "true" || row.column2 === true ? "Yes" : row.column2 === "False" || row.column2 === "false" || row.column2 === false ? "No" : row.column2 === "Futureinspection"? "Future Inspection" : row.column2 }}</td>
    </ng-container>

    <ng-container *ngIf="row.column1 === 'Additional Considerations or Concerns Html'">
      <td><p>Additional Considerations or Concerns</p></td>
      <td [innerHtml]="row.column2"></td>
    </ng-container>

    </tr>
  </ng-container>

  <ng-container *ngIf="rows.length > 1 && rows[1].column2 !== false && rows[1].column2 !== true">
    <tr *ngFor="let row of rows">
      <td><p>{{ row.column1 }}</p></td>
      <td>{{ row.column2 === "True" || row.column2 === "true" || row.column2 === true ? "Yes" : row.column2 === "False" || row.column2 === "false" || row.column2 === false ? "No" : row.column2 }}</td>
    </tr>
  </ng-container>
    </tbody>
  </table>
</div>
