.hover{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70vw;
  z-index: 1;
  margin-left: 7rem;
}

.alert{
  width: 50%;
  margin-right: 0.5rem;
}

.right-panel {
  flex: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.report-section {
  flex: 1;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius:16px;
}

.location-section {
  flex: 1;
  margin-top:10px;
  display: flex;
  overflow: auto;
  background-color: #ffff;
  padding:10px; 
  border-radius: 16px;
}

.section-list {
  display: flex;
  flex-direction: column;
  max-width:200px;
  flex: 1;
}

.location-section div{
  display: flex;
  background-color:#E8F2FF;
  min-width:100%;
  border-radius: 16px;
}
