<div class="right-panel full-height">
  <app-project-details-upper-section>
  </app-project-details-upper-section>
  <div class="location-section">
    <app-section-list class="flex-item"
                      (sectionID)=fetchDataForGivenSectionId($event)
                      (sectionStateChange)=sectionStateChange($event)
                      [location] = location>
    </app-section-list>
    <app-section class="report-section"
                 [sectionReport] = sectionReport
                 [location] = location
                 [isRecordFound] = isRecordFound
                 [sectionState] = sectionState
    ></app-section>
  </div>
</div>

