.horizontal-frame {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 62px;
  width: 100%;
  background-color: #FFFFFF;
}

.company-logo {
  margin-right: 10px;
  margin-left: 74px; /* Adjust the margin as needed */
}

.projects {
  
  margin-left: 20px; /* Adjust the margin as needed */
}
