<div class="container-fluid d-flex p-2 bd-highlight">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="container-fluid">
    <app-filter></app-filter>
    <div>
      <div *ngIf="showProjectInfo" class="d-flex flex-column">
        <div *ngFor="let projectInfo of projectInfos">
          <app-project-info (click)="gotoProject(projectInfo)" [projectInfo]=projectInfo></app-project-info>
        </div>
      </div>
      <div *ngIf="!showProjectInfo">
        <app-project [projectInfo]=projectInfo></app-project>
      </div>
    </div>
  </div>
</div>
