<div class="main-class">
  <app-sidebar class="flex sideBar"></app-sidebar>
  <div class="project-container">
    <div class="container-fluid flex">
      <div *ngIf="showProjectInfo === 'home'" class="project-list-container">
        
        <app-counterss
        [totalProjects]="totalProjects"
        [completedProjects]="completedProjects"
        [ongoingProjects]="ongoingProjects"
      ></app-counterss>

        <app-filter
        (searchedTerm)="projectSearch($event)"
        (newProjectUploaded)="newProjectUploaded()"
        (filterCompleted)="filterCompleted($event)"
        (fileUploaded)="fileUploaded($event)"
        >
        </app-filter>
        <div *ngIf="notificationRecieved">
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Report Available! </strong>{{notificationMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <div *ngIf="isProjectAssigned && apiCalled">
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Success! </strong> Project Assigned
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>

        <div *ngIf="!isProjectAssigned && apiCalled">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Failure! </strong> Project Not Assigned
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>

        <div *ngIf="showProjectCompleteAlert">
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Success! </strong> Project Completed
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>

        <div *ngIf="showProjectInProgressAlert">
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Success! </strong> Project In Progress
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>

        <div *ngIf="isDeleteSuccess">
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Success! </strong> Project Deleted
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>

        <div *ngIf="isDeleteFail">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Failure! </strong> Project Not Deleted
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <div *ngIf="isFileUploaded">
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Success! </strong> File Updated
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>

        <div *ngIf="isFileNotUploaded">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Failure! </strong> File Not Updated
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>

        <app-project-describer *ngIf="showProjectInfo === 'home'" class="project-describer"></app-project-describer>


        <div *ngIf="downloadingReport">
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Creating Report! </strong> Please check after some time
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>


        <div class="scrollable-container projectInfoContainer">
          <div *ngFor="let projectInfo of projectInfos">
            <app-project-info
              (click)="gotoProject(projectInfo)"
              [projectInfo]=projectInfo
              (childClickEventTriggered)="childClickEventTriggered($event)"
              (projectAssignedEvent)="projectAssigned($event)"
              (markCompletedEvent)="markedCompleted($event)"
              (projectEventDeletedEvent)="projectEventDeletedEvent($event)"
              (isDownloading)="reportDownloadEvent($event)"
            ></app-project-info>
          </div>
        </div>
      </div>
      <div *ngIf="showProjectInfo !== 'home'" class="horizontal-div">
        <app-projects-list-left-panel *ngIf="showProjectInfo !== 'home'"></app-projects-list-left-panel>
        <app-project-details *ngIf="showProjectInfo === 'project'" class="flex-item"></app-project-details>
        <app-subproject *ngIf="showProjectInfo === 'subproject'" class="flex-item"></app-subproject>
        <app-location-details *ngIf="showProjectInfo === 'location'" class="flex-item"></app-location-details>
      </div>
    </div>
  </div>
</div>
