.dashboard-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.horizontal-frame {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 62px;
  width: 100%;
}

.company-logo {
  margin-right: 10px;
  margin-left: 74px; /* Adjust the margin as needed */
}

.projects {
  margin-left: 20px; /* Adjust the margin as needed */
}


.horizontal-div {
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    flex:1;
  }

.right-panel {
  flex: 1;
  margin-left: 15px;
  overflow-x: auto;
}

.info-section {
  padding: 10px;
}

.flex-item {
  flex: 1;
}

.flex-item p {
  margin: 0;
}

.image-section {
  margin-left: 20px;
}

.btn {
  margin-right: 10px;
}

.image-section img {
  max-height: 150px;
  max-width: 100%;
  object-fit: contain;
}


.location-section {
  flex: 1;
  margin-top: 20px;
}

.logo-bar {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  background-color:#FFFFFF;
  height: 62px;
  width: 100%;
}

.main-class {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #E8F2FF;
  height:100vh;
  overflow-y:scroll;
}

.project-container{
  display: flex;
  flex: 1;
  padding: 10px;
  height: 100%;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffff;
  border-radius: 16px;
}

.flex {
  display: flex;
}

.container-fluid{
  flex-direction: column;
}

.AllProjectAndRefresh{
  padding-left: 10px;
}
.AllProject{
  color:#110F4F;
  font-size: 20px;
  font-weight: 700;
}

.bi-arrow-repeat{
  width: 24px;
  height: 24px;
}

.project-describer{
  background-color: #E8F2FF;
  max-height: 32px;
  padding-top: 5px;
}

.projectInfoContainer{
  max-height:80vh;
}