<div class="horizontal-div"> 
    <div>
      <input type="text" placeholder="Search by name"
           [(ngModel)]="searchTerm" (input)="filterNames()">
      <i class="material-symbols-outlined">
        search
      </i>
    </div>
    <input type="date"  placeholder="Created on">
    <label>
      <input type="checkbox" [(ngModel)]="isChecked" (change)="filterCompletedProjects()"> Completed
    </label>
    <button (click)="replaceFinalReportTemplate()" class="replaceFinalReportTemplate" title="upload final report template">
      <i class="bi bi-file-earmark-arrow-up" style="font-size: 25px;" ></i><h6>&nbsp;Upload</h6>
    </button>
    <button (click)="openModal()" class="buttonAddnew">
      <i class="bi bi-plus" style='font-size:25px;'></i><h6 id="upload">&nbsp;Add new</h6>
    </button>
    
  </div>
