.horizontal-div {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  padding-top: 20px;
}

.right-panel {
  flex: 1;
  margin-left: 15px;
}

.info-section {
  padding: 10px;
}

.info-details {
  flex: 1;
}

.info-details p {
  margin: 0;
}

.image-section {
  margin-left: 20px;
}

.btn {
  margin-right: 10px;
}

.image-section img {
  max-height: 150px;
  max-width: 100%;
  object-fit: contain;
}

.location-section {
  flex: 1;
  margin-top: 20px;
}
