.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .container app-part-info,
  .container app-part-photos {
    flex: 1;
  }

  .container app-part-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }

  .container app-part-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .container app-part-photos img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  .flex-item {
    flex: 1; /* Distribute equal width to both divs */
    /* OR */
    /* flex: 0 1 50%; */ /* Div 1 takes 50% width, Div 2 takes 50% width */
    /* OR */
    /* flex: 0 1 200px; */ /* Div 1 takes 200px width, Div 2 takes 200px width */
  }
