.header-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: baseline;
  width: 100%;
  height: 50px;
}

.horizontal-div {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 20px 10px 10px;
}
.flex-item {
  flex: 1; /* Each item grows to occupy the available space */
  align-content: center;
}
.icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icons i {
  margin-right: 10px; /* Add spacing between the icons */
}

.icons span {
  margin-right: 10px; /* Add space between the plus and bars icons */
}
.scrollable-container {
  max-height: 300px;
}


