<div class="horizontal-div full-height">
  <div class="header-component">
    <span class="icons">
      <span class="mr-3 cursor-pointer icon"><i class="fas fa-plus"
          (click)="openLocationModal()"></i></span>
      <span class="cursor-pointer icon"><i class="fas fa-save icon" (click)="save()"></i></span>
    </span>
  </div>

  <div *ngIf="isDeleteSuccess">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong>Success! </strong> Deleted
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div *ngIf="isDeleteFail">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Failure! </strong> Not Deleted
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div cdkDropList class="locationInfo scrollable-container" *ngIf="checkIfSubProject()"
    (cdkDropListDropped)="dropProject($event)">
    <div *ngFor="let project of subprojectList" cdkDrag class="card-container">
      <app-location-list-element (click)="onDbClick(project)" [location]="project" [isSubProject]="true"
        [header]="header" [projectName]="project.name" (projectAssignedEvent)="assignProject($event)"
        (childClickEventTriggered)="childClickEvent($event)"
        (deleteElement)="deleteElement($event)"></app-location-list-element>
    </div>
  </div>
  <div cdkDropList class="locationInfo scrollable-container" *ngIf="!checkIfSubProject()"
    (cdkDropListDropped)="dropLocation($event)">
    <div *ngFor="let locationInfo of locationList" cdkDrag class="card-container">
      <app-location-list-element (click)="onDbClick(locationInfo)" [location]="locationInfo" [isSubProject]="false"
        [header]="header" (projectAssignedEvent)="assignProject($event)" (deleteElement)="deleteElement($event)"
        (childClickEventTriggered)="childClickEvent($event)"></app-location-list-element>
    </div>
  </div>
</div>