.horizontal-div {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #E8F2FF;
  padding: 20px 10px;
  height: 100%;
}

.spinner-border{
  color: orange;
}

.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width:auto;
  height: 70px;
  background-color: #ffff;
  border-radius: 8px;
  padding:10px;
}

.flex-item {
  flex: 1;
}

.flex-item div{
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.icons {
  display: flex;
  align-items: center;
  margin-top: 10px;  
}

.icons i{
  margin-right: 10px;
}

.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.icon :hover{
  color: #007bff;
}

.locationInfo{
  background-color:#E8F2FF;
  border:hidden;
  border-radius: 16PX;
}

.fa-plus{
  background:#ED7C1C;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}