<div class="horizontal-div border border-secondary full-height">
  <div class="header-component">
    <div class="flex-item"><b>{{ header }}</b></div>
    <div class="icons">
<!--      <span class="mr-3" *ngIf="checkIfSubProject()"><i class="fas fa-plus" (click)="openSubprojectModal()"></i></span>-->
      <span class="mr-3 cursor-pointer"><i class="fas fa-plus" (click)="openLocationModal()"></i></span>
      <span><i class="fas fa-bars cursor-pointer"></i></span>
    </div>
  </div>
  <div cdkDropList class="full-width scrollable-container example-list" *ngIf="checkIfSubProject()"  (cdkDropListDropped)="dropProject($event)">
    <div class="example-box" *ngFor="let project of subprojectList" cdkDrag>
        <app-location-list-element (click)="onDbClick(project)" [location]="project"
                      [isSubProject]="true"
                      [projectName]="project.name"
        ></app-location-list-element>
    </div>
  </div>
  <div cdkDropList class="full-width scrollable-container" *ngIf="!checkIfSubProject()"  (cdkDropListDropped)="dropLocation($event)">
    <div *ngFor="let locationInfo of locationList" cdkDrag>
      <app-location-list-element (click)="onDbClick(locationInfo)"
                    [location]="locationInfo"
                    [isSubProject]="false"
      ></app-location-list-element>
    </div>
  </div>
</div>
