<div class="custom-dialog-content">
  <h2 class="modal-title">{{ isSubProject ? 'New Building':'New Location'}}</h2>
  <div class="close-button-container">
    <span class="close-icon" (click)="close()">&#10005;</span>
  </div>
  <form [formGroup]="newLocationForm" class="modal-form">
    <div class="form-group">
      <label class="form-label">{{ isSubProject ? 'Building Name:' : 'Project Common Location:' }}</label>
      <input type="text" formControlName="name" class="form-control">
    </div>

    <div class="form-group">
      <label class="form-label">Description:</label>
      <textarea type="text" formControlName="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label class="form-label">Upload Image:</label>
      <input type="file" (change)="handleFileInput($event)" formControlName="image" class="form-control">
      <div *ngIf="imagePreviewUrl" class="image-preview">
        <img [src]="imagePreviewUrl" alt="Image Preview" class="preview-image">
        <span class="close-icon-img" (click)="removeImage()">&times;</span>
      </div>
    </div>
    <mat-dialog-actions class="button-container">
      <button class="mat-raised-button close-button" (click)="close()"><h6>Close</h6></button>
      <button *ngIf="!isSaving" class="mat-raised-button mat-primary save-button" (click)="save()"><h6>Save</h6></button>

      <button *ngIf="isSaving" class="mat-raised-button mat-primary save-button" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Saving...
      </button>

    </mat-dialog-actions>

  </form>
</div>



