.custom-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.custom-dialog-content {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.modal-title {
  color: #8B8888;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-form .form-group {
  margin-bottom: 20px;
}

.form-label {
  color: #797575;
  font-weight: 500;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #A79C9CB2;
  border-radius:8px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
.modal-open {
  filter: blur(4px); /* Add blur effect to the background */
  pointer-events: none; /* Disable pointer events on the background */
}

input[type="text"],
input[type="checkbox"],
input[type="radio"] {
  margin-bottom: 10px;
}

.checkbox-group label,
.radio-group label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-group input[type="checkbox"],
.radio-group input[type="radio"] {
  margin-right: 5px;
}


select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

option {
  padding: 5px;
}

textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Optional spacing above the buttons */

}


.mat-raised-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

// .mat-raised-button:hover {
//   background-color: #007bff;
//   color: #fff;
// }

// .mat-raised-button.mat-primary {
//   border:1px solid #8B8888;
//   border-radius: 8px;
//   color: #ED7C1C;
//   background-color: #ffff;
//   width:114px;
//   height:40px;
// }

// .mat-raised-button.mat-primary:hover {
//   background-color: #0056b3;
//   color: #ffff;
// }


// .close-button {
//   border:1px solid #8B8888;
//   color: #6D6A6A;
//   border-radius: 8px;
//   background-color: #ffff;
//   width:114px;
//   height:40px;
//   order: 1; /* Moves the button to the left */
// }

// .save-button {
//   order: 2; /* Moves the button to the right */
// }

.save-button,
.close-button {
  padding: 10px 20px;
  background-color: #4caf50;
  // margin-bottom: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button {
  background-color: #f44336;
}

h6{
  font-size: 18px;
  margin-bottom:5px;
}

.close-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 999;
}

.close-icon {
  font-size: 24px;
  color: #000;
}

.image-preview {
  position: relative; /* Add position relative to the container */
  width: 300px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  border: 1px solid #ccc;
  padding: 5px;
}

.preview-image {
  width: 100%; /* Image will fit within the container width */
  height: 100%; /* Image will fit within the container height */
  object-fit: contain; /* Adjusts the image to fit within the given dimensions */
}

.close-icon-img {
  position: absolute; /* Position the close icon absolutely */
  top: 5px;
  right: 5px;
  font-size: 18px;
  color: #110e0e;
  cursor: pointer;
  z-index: 1; /* Set a higher z-index to make it appear on top */
}

.close-icon-img:hover {
  color: #ff0000;
}

.close-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #797575;
  font-weight:500;
  cursor: pointer;
  z-index: 999;
}
.close-button-container :hover{
  color: #007bff;
}

.close-icon {
  font-size: 24px;
  color: #000;
}
