
.form-label{
    color: #797575;
    font-weight:500;
    font-weight: bold;
    //font-size: 24px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.card-header{
    color: #8B8888;
    font-weight:800;
    font-size: 24px;
}
