<div class="horizontal-div scrollable-container border border-secondary ms-2">
  <div class="header-component">
    <div class="flex-item"><b>{{ header }}</b></div>
    <div class="icons">
      <span class="mr-3"><i class="fas fa-plus"></i></span>
      <span><i class="fas fa-bars"></i></span>
    </div>
  </div>
  <div *ngIf="checkIfSubProject()">
    <div class="full-width" *ngFor="let project of subproject">
      <div *ngFor="let locationInfo of project.children">
        <app-location (dblclick)="onDbClick(locationInfo)" [location]="locationInfo"
                      [isSubProject]="true"
                      [projectName]="project.name"
        ></app-location>
      </div>
    </div>
  </div>
  <div *ngIf="!checkIfSubProject()">
    <div  class="full-width" *ngFor="let locationInfo of locations">
      <app-location (dblclick)="onDbClick(locationInfo)"
                    [location]="locationInfo"
                    [isSubProject]="false"
      ></app-location>
    </div>
  </div>

</div>

