.horizontal-div {
  display: flex;
  background-color:#FFFFFF;
  border-radius: 16px;
  min-height:270px;
  max-height:339px ;
  padding: 15px;
  column-gap: 10px;
}
.flex-item {
  flex: 1;
}
.flex-item p {
  margin: 0;
}
.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  max-width: 299px;
  max-height: 281px;
  text-align: center;
}
.image-section img{
  width: 100%; 
  max-height: 206px;
  object-fit:contain;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.navigation-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.invasiveBtn{
  width:138px;
  height:50px;
  margin-top:10px;
  background-color:#ED7C1C;
  border-radius: 8px;
  border-color: #ED7C1C;
  font-size: 18.2px;
  font-weight: 500;
  color: #FFFFFF;
}

.invasiveBtn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 4px #e3af81;
}

.ProjectInformation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-height: 337px;
  //row-gap: 15px;
  min-width:60%;
}


.backButtonAndNavigation{
  display: flex;
  align-items: center;
  column-gap:10px;
}

.backButtonAndNavigation span{
   font-size: 17.52px;
}



.ProjectName{   
  display: flex;
  flex-direction: column;
  width:100%;
  max-height: 68px;
  font-size: 16px;
  font-weight: 500;
  color: #797575;
}


.Description{
  display: flex;
  flex-direction: column;
  width:100%;
  max-height:89px;
  font-size: 16px;
  font-weight: 500;
  color: #797575;
}

.Address
{
  display: flex;
  flex-direction: column;
  width:100%;
  max-height:68px;
  font-size: 16px;
  font-weight: 500;
  color: #797575;
}
 



.DescriptionBox{
  width:100%;
  height:63px;
  border:solid #A79C9CB2 1px;
  border-radius:8px;
  padding:5px;
  color:#666666BF;
  font-weight: 400;
}

.AddressBox{
  width:100%;
  height:42px;
  border:solid #A79C9CB2 1px;
  border-radius:10px;
  padding-left:5px;
  font-size: 16px;
  font-weight: 400;
  color: #797575;
  overflow:hidden;
}

.info-heading{
  width:100%;
    height:42px;
    border:solid #A79C9CB2 1px;
    border-radius:8px;
    font-size: 16px;
    font-weight: 400;
    color: #797575;
    padding: 5px;
 }

.edit_icon{
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 8px;
}
.edit_icon i{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 40px;
  color:#646161;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.edit_icon button{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 212px;
  height: 40px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: none;
  font-size: 16px;
  font-weight:500;
  color:#4F4D4D;
}

.edit_icon button:hover{
  opacity:0.8;
  box-shadow:5px 5px 5px lightblue;
}
.edit_icon i:hover{
  opacity:0.8;
  box-shadow:2px 2px 3px lightblue;
}

.DescriptionLocation{
  display: flex;
  flex-direction: column;
  width:100%;
  max-height:179px;
  font-size: 16px;
  font-weight: 500;
  color: #797575;
}

.DescriptionBoxLocation{
  width:100%;
  height:153px;
  border:solid #A79C9CB2 1px;
  border-radius:8px;
  padding:5px;
  font-size: 16px;
  font-weight: 400;
  color: #797575;
}
