.horizontal-div {
  display: flex;
  background-color:#FFFFFF;
  border-radius: 16px;
  min-height:270px;
  max-height:339px ;
  padding: 15px;
  column-gap: 10px;
}
.flex-item {
  flex: 1;
}
.flex-item p {
  margin: 0;
}

.navigation-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.invasiveBtn{
  width:138px;
  height:50px;
  margin-top:10px;
  background-color:#ED7C1C;
  border-radius: 8px;
  border-color: #ED7C1C;
  font-size: 18.2px;
  font-weight: 500;
  color: #FFFFFF;
}

.invasiveBtn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 4px #e3af81;
}

.backButtonAndNavigation{
  display: flex;
  align-items: center;
  column-gap:10px;
}

.backButtonAndNavigation span{
   font-size: 17.52px;
}



.ProjectName{   
  display: flex;
  flex-direction: column;
  width:100%;
  max-height: 68px;
  font-size: 16px;
  font-weight: 500;
  color: #797575;
}


.Description{
  display: flex;
  flex-direction: column;
  width:100%;
  max-height:89px;
  font-size: 16px;
  font-weight: 500;
  color: #797575;
}

.Address
{
  display: flex;
  flex-direction: column;
  width:100%;
  max-height:68px;
  font-size: 16px;
  font-weight: 500;
  color: #797575;
}

.DescriptionBox{
  padding:5px;
  font-size: 20px;
  font-weight: 500;
}

.AddressBox{
  padding-left:5px;
  font-size: 20px;
  font-weight: 500;
}

.info-heading{
    font-size: 25px;
    font-weight: 600;
    // color: #797575;
    padding: 5px;
 }

.edit_icon{
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 8px;
}

// .edit_icon span
// {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 44px;
//   height: 40px;
//   color:#646161;
//   background-color: #FFFFFF;
//   border-radius: 8px;
// }
.edit_icon button{
  width:188px;
  height:50px;
  margin-top:10px;
  background-color:#FFFFFF;
  border-radius: 8px;
  border-color: #ED7C1C;
  font-size: 18.2px;
  font-weight: 500;
  color: #ED7C1C;
}

.edit_icon button:hover{
  background-color:#ED7C1C;
  color: #FFFFFF;
}

.edit_icon i:hover{
  opacity:0.8;
  box-shadow:2px 2px 3px lightblue;
}

// .DescriptionLocation{
//   font-size: 25px;
//   font-weight: 500;
// }

// .DescriptionBoxLocation{
//   padding:5px;
//   font-size: 25px;
//   font-weight: 500;
// }

.card-img
{
  width: 100%;
  padding: 20px;
  height: 100%;
  object-fit: cover; 
}

.card-img-div {
  flex: 1;
  max-width: 25%;
  max-height: 100%;
  position: relative;
}

// .card
// {
//   // max-width: 1000px;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   border-radius: 20px;
//   border-style: solid;
//   border-width: 5px;
//   height: 300px;
//   // justify-content: ;
// }

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border-radius: 20px;
  // border: 5px solid; /* You can set border color */
  height: 300px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // box-shadow: 10px 10px 5px lightblue; /* Add shadow effect */
}

.card-body {
  flex: 1;
  max-width: 70%; /* Adjust the width of the card body as needed */
  padding: 1rem; /* Optional padding for the card body */
  box-sizing: border-box; /* Ensure padding is included in the total width */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed to position on corners */
  align-items: center; /* Align items vertically in the center */
}

.delete-btn, .sqn-num {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.card-text
{
  margin-bottom: 10px;
}

.user-icon
{
  height: 40px;
  width: 40px;
  font-size: 35px;
  border-style: solid;
  border-width: 2px;
  border-radius: 100%;
  align-items: center;
}

.card-head {
  display: flex;
  justify-content: normal;
}

.user-section {
  display: flex;
  align-items: center;
}

// .material-symbols-outlined {
//   /* Assuming you are using a custom font for the material symbols */
//   font-family: 'Material Icons'; /* Add your font family */
//   font-size: 24px; /* Adjust the size as needed */
// }

.user-details {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400; /* Adjust the margin as needed */
}

.project-date {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400; 
  margin-left: 20px;/* Adjust the font size for the date */ /* Add your preferred color */
}


