.horizontal-div {
  display: flex;
  
}

.info-section {
  width: 1069;
  height:322px;
  background-color:#FFFFFF;
  border:solid #A79C9CB2 1px;
  padding: 10px;
  border-radius: 16px;
  margin-top:20px;
}

.flex-item {
  flex: 1;
}

.flex-item p {
  margin: 0;
}

.image-section {
  // max-height: 250px;
  // max-width: 320px;
  margin-left: 20px;
  text-align: center;
}
.image-section img {
  // max-height: 250px;
  // max-width: 320px;
  object-fit:contain;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Main-image-section{
  width:320;
  height: 250;
}

.info-heading{
   width:676;
   height:42;
   border:solid #A79C9CB2 1px;
   border-radius:8px;
   padding:10px;
   color:#666666BF;
}

.navigation-line {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.DescriptionBox{
  width:100%;
  height:61px;
  border:solid #A79C9CB2 1px;
  border-radius:10px;
  padding:10px;
  color:#666666BF;
}

.AddressBox{
  width:100%;
  height:39px;
  border:solid #A79C9CB2 1px;
  border-radius:10px;
  padding:5px;
  color:#666666BF;
}

button{
  width:138;
  height:50px;
  background-color:#ED7C1C;
  border-radius: 8px;
  border-color: #ED7C1C;
  margin: 10px;
}

.button:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.ProjectInformation{
  display: flex;
  flex: 1;
  flex-direction: column;
 justify-content: space-around;
 padding-bottom: 10px;
}