/* CSS */
.container {
  width: 174px;
  height: 50px;
  background-color: #ffff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; /* Add a transition effect for smoother highlight */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.highlighted-section {
  background-color: #e0e0e0;
  font-weight: bold;
}

p{
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  width: 90%;
  height:25px;
  overflow: clip;
}
