/* CSS */
.container {
  width: 95%;
  height: 40px;
  background-color: #ffff;
  padding: 3px;
  // border-radius: 8px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // transition: background-color 0.3s ease; /* Add a transition effect for smoother highlight */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container:hover{
  cursor: pointer;
  background-color: #ffff;
  border-left-style: solid;
  border-left-color: #ED7C1C;
}

.highlighted-section {
  background-color: #ffff;
  border-left-style: solid;
  border-left-color: #ED7C1C;
  border-left-width: 6px;
  font-weight: bold;
}

p{
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  width: 90%;
  // height:25px;
  margin-bottom: 0px;
  margin-left: 5px;
  overflow: clip;
  align-items: center;
}

.highlighted-section p
{
  color: #ED7C1C;
  font-weight: 700;
}

.icon
{
  font-size: 14px;
  cursor: pointer;
  color: red; 
}
