/* CSS */
.container {
  width: 174px;
  height: 50px;
  background-color: #ffff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; /* Add a transition effect for smoother highlight */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlighted-section {
  background-color: #e0e0e0;
  font-weight: bold;
}

b{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
