/* form-component.component.css */
.form-container {
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.form-header h2 {
  margin: 0;
}

.button-container {
  gap: 10px;
  justify-content: space-between;
  margin-top: 25px;
}
.inside-button-container{
  display: flex;
  gap: 10px;
  justify-content:space-around;
  margin-top: 10px;
}

.save-button,
.close-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button {
  background-color: #f44336;
}

.form-body {
  margin-top: 20px;
}

.form-field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="checkbox"],
input[type="radio"] {
  margin-bottom: 10px;
}

.checkbox-group label,
.radio-group label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-group input[type="checkbox"],
.radio-group input[type="radio"] {
  margin-right: 5px;
}

select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

option {
  padding: 5px;
}

textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

.image-preview {
  position: relative; /* Add position relative to the container */
  width: 300px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  border: 1px solid #ccc;
  padding: 5px;
}

.preview-image {
  width: 100%; /* Image will fit within the container width */
  height: 100%; /* Image will fit within the container height */
  object-fit: contain; /* Adjusts the image to fit within the given dimensions */
}

.close-icon-img {
  position: absolute; /* Position the close icon absolutely */
  top: 5px;
  right: 5px;
  font-size: 18px;
  color: #110e0e;
  cursor: pointer;
  z-index: 1; /* Set a higher z-index to make it appear on top */
}

.close-icon-img:hover {
  color: #ff0000;
}

.form-errors{
  color: red;
  font-size: small;
}

.close-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #797575;
  font-weight:500;
  cursor: pointer;
  z-index: 999;
}
.close-button-container :hover{
  color: #007bff;
}

.close-icon {
  font-size: 24px;
  color: #000;
}