<!-- form-component.component.html -->
<div class="form-container">
  <div class="form-header">
    <p><b>Invasive Report</b></p>
  </div>
  <div class="form-body" [formGroup]="invasiveDeckReportModalForm">
    <div class="form-errors" *ngIf="showErrors && invasiveDeckReportModalForm.get('invasiveDescription')?.hasError('required')">
      *field is required.
    </div>
    <div class="form-field">
      <label for="description">Invasive Description</label>
      <textarea formControlName="invasiveDescription" id="description" name="invasiveDescription" rows="4"></textarea>
    </div>
    <div class="form-field">
      <label>Post Invasive Report required</label>
      <div class="radio-group">
        <label for="yes"><input formControlName="postinvasiverepairsrequired" type="radio" id="yes" value="Yes" name="postinvasiverepairsrequired">Yes</label>
        <label for="no"><input formControlName="postinvasiverepairsrequired" type="radio" id="no" value="No" name="postinvasiverepairsrequired">No</label>
      </div>
    </div>
    <div class="form-errors" *ngIf="showErrors && invasiveDeckReportModalForm.get('invasiveimages')?.hasError('required')">
      *field is required.
    </div>
    <div class="form-group">
      <label class="form-label">Upload Image:</label>
      <input type="file" (change)="handleFileInput($event)" class="form-control" multiple>
      <div *ngFor="let imageUrl of imagePreviewUrls; let i = index" class="image-preview">
        <img [src]="imageUrl" alt="Image Preview" class="preview-image">
        <span class="close-icon-img" (click)="removeImage(i)">&times;</span>
      </div>
    </div>
  </div>
  <div class="button-container">
    <div class="form-errors" *ngIf="showErrors && !invasiveDeckReportModalForm.valid">
      *Fill all mandatory fields.
    </div>
    <div class="inside-button-container">
      <button *ngIf="!isSaving" class="mat-raised-button mat-primary save-button" (click)="save()"><h6>Save</h6></button>
        <button *ngIf="isSaving" class="mat-raised-button mat-primary save-button" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Saving...
        </button>
      <button class="close-button" (click)="close()">Close</button>
    </div>
  </div>
</div>

