<!-- <p>header works!</p> -->
<div>
  <div class="header">

    <div *ngIf="showProjectInfo === 'home'" class="AllProjectAndRefresh">
      <div class="AllProject">All Projects</div>
    </div>

    <div>
    
    </div>

    <div class="header-buttons">
      <button (click)="replaceFinalReportTemplate()" class="btn btn-with-icon header-btn header-primary-btn upload-template-btn" title="upload final report template">
        <span class="material-symbols-outlined">upload</span>
        <span>Upload Template</span>
      </button>

      <button (click)="openModal()" class="btn btn-with-icon header-btn header-primary-btn add-new-btn">
        <span class="material-symbols-outlined">add</span>
        <span>Add New</span>
      </button>
    </div>
      
  </div>
</div>
