.horizontal-div {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fff;
  border: solid #fff 2px;
  border-radius: 10px;
  /* Add padding to the top */
  padding: 20px 10px 10px;
  justify-content: space-between;
  cursor: pointer;
}

.horizontal-div:hover {
  background-color: #f7f7f7;
  filter: brightness(95%);
}

.options-section {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 24px;
  color: #333;
  margin-right: 10px;
  cursor: pointer;
}

.icon:hover {
  color: #007bff;
}

.bi {
  display: inline-block;
  font-size: 24px;
  color: #333;
  margin-right: 10px;
  cursor: pointer;
}

.bi:hover {
  color: #007bff;
}

.select{
  width: 200px;
  height: 50px;
  border: solid black 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-select {
  position: relative;
  display: inline-block;
}

.select-icon,
.dropdown-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.select-icon {
  left: 10px;
}

.dropdown-arrow {
  right: 10px;
}

.green-dot {
  color: #00cc00; /* Green color */
  margin-right: 5px;
}

.custom-select select {
  appearance: none;
  padding: 8px 30px 8px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}
.custom-select select:focus {
  outline: none;
  border-color: #2196F3;
}
.custom-select option {
  padding: 8px;
  font-size: 14px;
}

.AssignTo{
  width:200px; 
}
.profile-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  width: 400px;
}
