<div class="horizontal-div border border-secondary mt-2">
  <div class="profile-section">
    <div>
      <div>
        <span class="name"> {{projectInfo.name }} </span>
      </div>
      <div>
        <b>Description: </b> {{ projectInfo.description }} <b>       Assigned To : </b> {{projectInfo.assignedto.join(',')}}
      </div>
    </div>
  </div>
  <div>
    <div class="options-section">
      <div class="checkbox-label">
        <input type="checkbox" id="allow-offline" class="checkbox">
        <label for="allow-offline" class="checkbox-text">Allow Offline</label>
      </div>
      <div class="icon-section">
        <span class="bi bi-person-circle" (click)="openAssignProjectModal()" title="Assign users to project"></span>
        <span class="bi bi-upload icon" (click)="openUploadFilesModal()" title="Upload project documents"></span>
        <span class="bi bi-download icon" (click)="openDownloadReportModal()" title="Download project reports"></span>
        <span class="bi bi-lightning icon" title="Mark project complete"></span>
        <span class="bi bi-file icon" title="Move project to a folder"></span>
      </div>
    </div>
  </div>
</div>
