<div class="horizontal-div border border-secondary mt-2">
  <div class="profile-section">
    <div>
      <div>
        <span class="name"> {{projectInfo.name }} </span> {{ projectInfo.createdby.split("")[0] }}
      </div>
      <div>
        <b>Visual Report </b> {{ projectInfo.address }} <b> Assigned To : </b> {{projectInfo.assignedto.join(',')}}
      </div>
    </div>
  </div>
  <div>
    <div class="options-section">
      <div class="checkbox-label">
        <input type="checkbox" id="allow-offline" class="checkbox">
        <label for="allow-offline" class="checkbox-text">Allow Offline</label>
      </div>
      <div class="icon-section">
        <span class="bi bi-person-circle" (click)="openAssignProjectModal()"></span>
        <span class="bi bi-upload icon" (click)="openUploadFilesModal()"></span>
        <span class="bi bi-download icon" (click)="openDownloadReportModal()"></span>
        <span class="bi bi-lightning icon"></span>
        <span class="bi bi-file icon"></span>
      </div>
    </div>
  </div>
</div>
