<div class="horizontal-div border border-secondary mt-2">
  <div class="profile-section">
    <div>
      <div>
        <span class="name"> {{projectInfo.name }} </span>
      </div>
      <div>
        <b>Description: </b> {{ projectInfo.description }} <b>       Assigned To : </b> {{projectInfo.assignedto.join(',')}}
        <strong>Type: </strong><span *ngIf="projectInfo.projecttype === 'singlelevel'">Single</span>
        <span *ngIf="projectInfo.projecttype === 'multilevel'">Multi</span>
      </div>
    </div>
  </div>
  <div>
    <div class="options-section">
      <div class="icon-section">
        <span *ngIf="isAdmin" class="bi bi-person-circle" (click)="openAssignProjectModal()" title="Assign users to project"></span>
        <span class="bi bi-upload icon" (click)="openUploadFilesModal()" title="Upload project documents"></span>
        <span class="bi bi-download icon" (click)="openDownloadReportModal()" title="Download project reports"></span>
        <span *ngIf="!projectInfo.iscomplete" class="fa fa-check icon" (click)="markComplete()" title="Mark project complete"></span>
        <span *ngIf="projectInfo.iscomplete" class="bi bi-arrow-repeat" (click)="markComplete()" title="Move in progess"></span>
        <!-- <span class="bi bi-file icon" (click)="moveProjectToFolder()" title="Move project to a folder"></span> -->
        <span class="bi bi-trash icon" title="Delete Project" (click)="deleteProject()"></span>
      </div>
    </div>
  </div>
</div>
