.horizontal-div {
  display: flex;
  align-items: center;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fff;
  // border: solid #fff 2px;
  // border-radius: 10px;
  /* Add padding to the top */
  padding: 10px 15px;
  justify-content: space-between;
  cursor: pointer;
  // border-bottom: solid #A7A5A5 2px;
  min-height: 55px;
  max-height: 55px;
  // flex: 1;
  margin-top: 8px;
  margin-bottom: 8px;
  // padding-left: 12px;
  margin-left: 8px;
  border-radius: 8px;
}

.horizontal-div:hover {
  // background-color: #f7f7f7;
  // filter: brightness(98%);
  border-left-style: solid;
  border-left-width: 8px;
  border-color: #ed7c1c;
}

.options-section {
  display: flex;
  align-items: center;
}

.icon:hover {
  color: #007bff;
}
// .bi {
//   display: inline-block;
//   font-size: 24px;
//   color:#6D6A6A;
//   font-weight: 400;
//   margin-right: 10px;
//   cursor: pointer;
// }

.bi:hover {
  color: #007bff;
}

.bi-check {
  font-size: 12px;
}
.fas {
  display: inline-block;
  font-size: 10px;
  color: #666666b2;
  cursor: pointer;
}
.fas:hover {
  color: #007bff;
}
.icon {
  font-size: 12px;
  color: #6d6a6a;
  font-weight: 400;
  margin-right: 10px;
  cursor: pointer;
}

.AssignTo {
  width: 150px;
  max-height: 50px;
  color: #203eea;
  font-weight: 400;
  overflow: clip;
  text-transform: capitalize;
  font-size: 12px;
}
.profile-section {
  display: flex;
  flex-direction: column;
  width: 420px;
  padding-right: 10px;
  padding-top: 20px;
}

.AssignUser {
  padding-bottom: 10px;
  width: 130px;
  height: 30px;
  border: solid #aaa9a9 1px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.AssignUsertext {
  font-size: 10px;
  color: #6d6a6a;
}

.AssignUsertext:hover {
  color: #007bff;
}

.description {
  display: flex;
  color: #6d6a6a;
  column-gap: 10px;
  font-weight: 400;
}

.description div {
  color: #000000;
  font-weight: 500;
}

.projectName {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #000000;
  font-weight: 500;
}

// .projectName div span{

// }
.projectName div {
  display: flex;
  align-items: center;
  color: #666666cc;
  margin-left: 10px;
  margin-bottom: 10px;
  // padding-bottom: 5px;
}
.projectName p {
  width: 135px;
  height: 23px;
  font-size: 12px;
  overflow: clip;
}
.typeSection {
  font-size: 12px;
  margin-left: 50px;
  width: 90px;
  color: #6d6a6a;
  font-weight: 400;
}

.description p {
  width: 100%;
  height: 20px;
  overflow: clip;
}
