.horizontal-div {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fff;
  border: solid #fff 2px;
  // border-radius: 10px;
  /* Add padding to the top */
  padding: 10px 10px 10px;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: solid #A7A5A5 2px;
  min-height:75px;
  max-height:75px;
  flex: 1;
}

.horizontal-div:hover {
  background-color: #f7f7f7;
  filter: brightness(98%);
}

.options-section {
  display: flex;
  align-items: center;
}



.icon:hover {
  color: #007bff;
}
// .bi {
//   display: inline-block;
//   font-size: 24px;
//   color:#6D6A6A;
//   font-weight: 400;
//   margin-right: 10px;
//   cursor: pointer;
// }

.bi:hover {
  color: #007bff;
}

.bi-check{
  font-size: 30px;
}
.fas{
  display: inline-block;
  font-size: 15px;
  color: #666666B2;
  cursor: pointer;
}
.fas:hover{
  color: #007bff;
}
.icon {
  font-size: 20px;
  color:#6D6A6A;
  font-weight: 400;
  margin-right: 10px;
  cursor: pointer;
}


.AssignTo{
  width:15%;
  max-height: 50px;
  color: #203EEA;
  font-weight: 400;
  overflow: clip;
  text-transform: capitalize;
}
.profile-section{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-right: 10px;
  padding-top: 20px;
}

.AssignUser{
  padding-bottom:10px;
  flex:0 1 130px;
  height: 40px;
  border: solid #AAA9A9 1px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:5px;
}

.AssignUsertext{
  font-size: 13px;
  color:#6D6A6A;
}
.AssignUsertext:hover{
  color:#007bff;
}
.description{
  display: flex;
  color: #6D6A6A;
  column-gap: 10px;
  font-weight:400;
}
.description div{
    color: #000000;
    font-weight: 500;
}

.projectName{
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #000000;
  font-weight: 500;
}
.projectName div span{ 
  font-size: 19px;
}
.projectName div{
  display: flex;
  align-items:center;
  color: #666666CC;
  padding-bottom: 5px;
}
.projectName p{
  width: 135px;
  height:23px;
  overflow: clip;
}
.typeSection{
  width:7%;
  color:#6D6A6A;
  font-weight: 400;
}

.description p{
  width:100%;
  height:20px;
  overflow: clip;
}