.folder {
  font-size: 16px;
  color: #646161; /* Set the folder name color */
  font-weight: bold; /* Set the folder name font weight */
}

.folder1{
  font-size: 16px;
  color: #ED7C1C; /* Set the folder name color */
  font-weight: 600;
}

.fa-chevron-right{
  color: #000000; /* Set the separator color */
  margin-left: 2.5px;
  margin-right: 2.5px;
  font-size: 12.5px;
  font-weight: bold;
  opacity: 1;
}