.custom-card {
  height: 100%;
  width: 350px;
  border: 1px solid #ddd; /* Add a border to the card */
  border-radius: 10px; /* Add border-radius for rounded corners */
  overflow: hidden; /* Hide any content that overflows the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow for depth 
  */
}

.card-img
{
  padding: 5px;
}

.card-header {
  background-color: #007bff; /* Change the background color of the card header */
  color: #fff; /* Change the text color of the card header */
}

.card-title {
  font-size: 14px; 
  margin-left: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* Adjust the font size of the card title */
}

.card-text
{
  font-size: 11px; 
  margin-left: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-body {
  padding: 10px;
  // display: flex; /* Add padding to the card body */
}

.info {
  margin-top: 10px; /* Add margin to the info section */
}

/* Customize the styling of icons */
.icon {
  font-size: 15px;
  // margin-left: 100px;
  // // padding-top: 30px;
  // margin-bottom: 0px;
  cursor: pointer;
  color: red; 
  // background-color: red;
  // border-radius: 100%;
  // height: 40px;
  // width: 40px;
  /* Change the color of the icons */
}

.icon:hover {
  color: #f0be09; /* Change the color on hover */
}

.number
{
  color: black;
  margin-bottom: 0px;
  font-size: 8px;
}

.row-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed to position on corners */
  align-items: center; /* Align items vertically in the center */
}

.delete-btn, .sqn-num {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}


.card {
  transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(254, 211, 91, 0.916), 0 6px 20px 0 rgba(245, 173, 96, 0.89);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
}
