.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
}

.margin-right {
  margin-right: 10px;
}

.name{
  display: flex;
  justify-content: space-between;
}

.icon{
font-size: larger;
}
