.container {
  display: flex;
  flex:1;
  background-color: #fff;
  flex-direction:column;
  border-radius: 8px;
  height: 86px;
  cursor: pointer;
}

.margin-right {
  margin-right: 10px;
}

.name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locationName{
  font-size:16px;
  color: #2F2E2E;
  font-weight: 500;
}
.info{
  display: flex;
  justify-content: space-between;
  margin-top:20px;
}
.info span{
  color:#5D5C5C;
  font-size: 12px;
  font-weight: 400;
}
.icon{
font-size: larger;
}

.text-muted{
  display: flex;
}

span p{
  color:#203EEA;
  font-weight: 500;
  font-size: 14px;
}
.assignUser{
  margin-right: 10px;
}
.bi-trash{
  color:#646161;
}
.bi-person-circle{
  color:#646161;
}