.right-panel {
  flex: 1;
  margin-left: 15px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex: 1;
}

.location-section {
  flex: 1;
  margin-top: 10px;
  display: flex;
  overflow: auto;
  background-color: #E8F2FF;
  padding: 10px;
  border-radius: 16px;
}

.project-list-div
{
  margin-top: 15px;
  background-color: #E8F2FF;
}

.tab-btn
{
  width: 50%;
  height: 65px;
  border-style: none;
  background-color: #ffff;
  // font-size: 30px;
  // font-weight: 500;
  // border-radius: 15px;
}

.clicked-button {
  background-color: #E8F2FF;
  color: black; 
  // font-size: 30px;
  // font-weight: 600;
  border-top-style: solid;
  border-top-color: #ED7C1C;
  border-top-width: 5px;
  // border-radius: 15px;
  /* Change the color to the desired text color */
}

.toggle-buttons
{
  width: 100%;
  height: 65px;
}
