<div class="right-panel full-height">
  <app-project-details-upper-section *ngIf="showSectionInfo === 'project'">

  </app-project-details-upper-section>
  <div *ngIf="showSectionInfo === 'project'" class="d-flex justify-content-between mt-3 location-section">
    <app-location-list class="flex-item" header="Project Common Location"
                       [locations]="projectCommonLocationList"
                       (isDbClick)="locationClicked($event)"></app-location-list>
    <app-location-list class="flex-item ms-2" header="Project Buildings"
                       [subproject]="projectBuildings"
                       (isDbClick)="locationClicked($event)"></app-location-list>
  </div>
  <app-subproject *ngIf="showSectionInfo === 'subproject'"
    [projectInfo]="subprojectInfo">
  </app-subproject>
  <div *ngIf="showSectionInfo === 'location'" class="right-panel">
    <app-location-details>

    </app-location-details>
  </div>
</div>
