/* Styles for the form container */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  min-height:100%;
  padding: 20px;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Styles for the form header */
.form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #797575;
}

/* Styles for the search container */
.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"]{
  all: unset;
}
.search-container input[type="text"] {
  width:200px;
  max-height:50px;
  padding: 10px;
  border:1px solid #A8A4A4;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 16px;
  border-right: none;
  color: #00000073;
  font-weight: 500;
  background-color: #ffff;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container span{
  border: none;
  color: #727070;
  cursor: pointer;
  margin-left: 10px;
  padding: 8px;
}

.search-container i{
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 46px;
  max-height:46px;
  border-top:1px solid #A8A4A4;
  border-right:1px solid #A8A4A4;
  border-bottom: 1px solid #A8A4A4;
  border-left:none;
  color: #727070;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Styles for the name list */
.name-list {
  margin-top: 20px;
}

.name-list label {
  margin-bottom:5px;
  display: block;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #2F2E2E;
  font-weight: 500;
}

.name-list input[type="checkbox"] {
  margin-right: 10px;
  width:18px;
  height:18px;
}

/* Styles for the dialog actions */
mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

button {
  width: 100px;
  height:40px;
  border-radius: 8px;
  font-size:18px;
  color: #2F2E2E;
  font-weight: 700;
  background-color: #fff;
  border:2px solid #B0A7A7;
  margin-left: 10px;
}

button:hover{
  box-shadow:0px 4px 4px lightblue;
  background-color:#007bff;
  color: #fff;
}

.scrollable-container {
  max-height: 100%;
}
