<div class="form-container">
  <div>
    <h2>Assign Project</h2>
    <div class="search-container">
      <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (input)="filterNames()" />
      <i class="material-symbols-outlined">search</i>
      <span class="material-symbols-outlined" (click)="refreshList()">refresh</span>
    </div>
    <div class="name-list">
        <label *ngFor="let name of filteredNames">
          <input type="checkbox" [(ngModel)]="name.checked" name="username"/>
          {{ name.username }}
        </label>
    </div>
  </div>
  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
  </mat-dialog-actions>
</div>
