<!-- <p>header works!</p> -->
<div>
  <div class="header">
      <div class="statistics-section">
        <div class="counter-item">
          <p>Total Projects</p>
          <span class="stat-num">{{ totalProjects }}</span>
        </div>
        <div class="counter-item">
          <p>Completed Projects</p>
          <span class="stat-num">{{ completedProjects }}</span>
        </div>
        <div class="counter-item">
          <p>Ongoing Projects</p>
          <span class="stat-num">{{ ongoingProjects }}</span>
        </div>
      </div>

    <div class="header-buttons">
      <button (click)="replaceFinalReportTemplate()" class="header-action-btn replaceFinalReportTemplate"
        title="upload final report template">
        <span class="material-symbols-outlined">upload</span>
        <span>Upload</span>
      </button>

      <button (click)="openModal()" class="header-action-btn buttonAddnew">
        <span class="material-symbols-outlined">add</span>
        <span>Add new</span>
      </button>
    </div>

  </div>
</div>
