.Container {
    border-top-right-radius:16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width:100%;
    flex: 1;
    row-gap:5px;
    background-color: #E8F2FF;
}
h6{
  font-size: 18.2px;
  font-weight:600;
  margin: 5px;
}
.flex-item {
    flex: 1;
}

.flex-item-overley {
  flex: 1;
  text-align: center;
}

.edit-btn {
  font-size: 24px;
}

.edit-button:hover{ 
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0px 4px 4px lightblue;
}

.overlay-container {
  width:100%;
  height: 100%;
  display: flex;
  background-color: #fff;
  flex: 1;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding:10px;
  color: #2F2E2E; /* Text color for the message */
  font-weight: 500;
  font-size: 20px;
  flex: 1;
}

.close-button {
  position: relative;
  top:0px;
  right:5px;
  font-size: 16px;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  display: flex;
}

button.highlighted {
  background-color: #e0e0e0;
  font-weight: bold;
}

.icons {
  display: flex;
  justify-content: flex-end;
  background-color: #E8F2FF;
  height: 72px;
  // border-bottom: solid #ffff 10px;
  padding: 10px;
  border-top-right-radius:16px;
}


/* Style the buttons */
.projectInfo button {
  border: none;
  padding: 8px 12px;
  background-color: #E8F2FF;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  min-width:175px;
}

/* Highlight the active button */
.projectInfo button.highlighted {
  border-bottom:solid #f39c12 2px;
}

/* Style the add and edit icons */
.projectInfo .fas {
  font-size: 24px;
  color: #000000; /* Saffron color */
  cursor: pointer;
}

/* Add some spacing between the icons */
.projectInfo .mr-3 .fas,
.projectInfo .fas.edit-btn {
  margin-right: 10px;
}

.add-edit {
  display: flex;
  align-items: center;
  column-gap:10px;
}

.mr-3{
  background-color: #ED7C1C;
  width: 130px;
  height:45px;
  border-radius: 8px;
  padding:10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mr-3:hover{
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0px 4px 4px #ca8549;
}

.mr-4{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #E8F2FF;
  width: 100%;
  height:50px;
}

.Plusbotton{
  color: #fff;
}

.edit-button{
  width:44px;
  height: 46px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.projectInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  margin-right:7px;
}

.locationsectioninformation{
  border-radius: 15px;
  min-width: 100%;
  padding-top:5px;
  background-color: #fff;
}

.scrollable
{
  width: 100%;
  max-height: 220px;
  overflow-y: auto;
  padding-right: 5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}