<div class="container">

  <div class="icons">
    <div *ngIf="projectState === ProjectState.INVASIVE && showBtn" class="mr-3">
      <button (click)="setSectionState(SectionState.VISUAL)" class="mr-3" [ngClass]="{ 'highlighted': sectionState === SectionState.VISUAL }">Visual</button>
      <button (click)="setSectionState(SectionState.INVASIVE)" class="mr-3" [ngClass]="{ 'highlighted': sectionState === SectionState.INVASIVE }">Invasive</button>
      <button *ngIf="showConclusiveSection" (click)="setSectionState(SectionState.CONCLUSIVE)" [ngClass]="{ 'highlighted': sectionState === SectionState.CONCLUSIVE }" class="mr-3">Conclusive</button>
    </div>
    <div class="add-edit">
      <div *ngIf="showAddBtn()" (click)="openVisualDeckReportModal()" class="mr-3">
        <i class="fas fa-plus"></i>Add new
      </div>
      <div class="edit-button">
        <i class="fas fa-edit edit-btn" (click)="editVisualDeckReportModal()"></i>
      </div>
    </div>
  </div>
  <app-loading-screen *ngIf="isSaving"></app-loading-screen>

  <div class="overlay-container" *ngIf="!isRecordFound">
    <div class="overlay">
      <p class="flex-item-overley">Please add data first by clicking on the add button.</p>
      <button class="close-button" (click)="closeOverlay()">X</button>
    </div>
  </div>

  <div class="projectInfo">
  <!-- Show app-section-info and app-section-photos when add_data is false -->
  <app-section-info class="flex-item" [rows]="rows" *ngIf="isRecordFound"></app-section-info>
  <app-section-photos [images]="images" [rows]="rows" class="flex-item" *ngIf="isRecordFound"></app-section-photos>
</div>
