.Container {
    border-top-right-radius:16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    row-gap:5px;
    background-color: #E8F2FF;
}

.flex-item {
    flex: 1;
}

.flex-item-overley {
  flex: 1;
  text-align: center;
}
.edit-btn {
  font-size: 24px;
}

.overlay-container {
  display: flex;
  flex: 1;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  padding:10px;
  color: black; /* Text color for the message */
  font-size: 20px;
  flex: 1;
}

.close-button {
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  display: flex;
}

button.highlighted {
  background-color: #e0e0e0;
  font-weight: bold;
}

.icons {
  display: flex;
  justify-content: flex-end;
  background-color: #E8F2FF;
  height: 72px;
  border-bottom: solid #ffff 7px;
  padding: 10px;
  border-top-right-radius:16px;
}


/* Style the buttons */
.projectInfo button {
  border: none;
  padding: 8px 12px;
  background-color: #E8F2FF;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  min-width:175px;
}

/* Highlight the active button */
.projectInfo button.highlighted {
  border-bottom:solid #f39c12 2px;
}

/* Style the add and edit icons */
.projectInfo .fas {
  font-size: 24px;
  color: #000000; /* Saffron color */
  cursor: pointer;
}

/* Add some spacing between the icons */
.projectInfo .mr-3 .fas,
.projectInfo .fas.edit-btn {
  margin-right: 10px;
}

.add-edit {
  display: flex;
  align-items: center;
  column-gap:10px;
}

.mr-3{
  background-color: #ED7C1C;
  width: 138px;
  height:50px;
  border-radius: 8px;
  padding:10px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mr-4{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #E8F2FF;
  width: 100%;
  height:50px;
}

.Plusbotton{
  color: #fff;
}

.edit-button{
  width:44px;
  height: 46px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.projectInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  margin-right:7px;
}
.locationsectioninformation{
  background-color: #fff;
}