<div class="Container">

  <div class="icons">
    <div class="add-edit">
      <div *ngIf="showAddBtn()" (click)="openVisualDeckReportModal()" class="mr-3">
        <i class="fas fa-plus"></i><h6>Add data</h6>
      </div>
      <div class="edit-button" *ngIf="showEditBtn()">
        <i class="fas fa-edit edit-btn" (click)="editVisualDeckReportModal()"></i>
      </div>
    </div>
  </div>
  <app-loading-screen *ngIf="isSaving"></app-loading-screen>
  <div class="projectInfo">
    <div *ngIf="projectState === ProjectState.INVASIVE && showBtn" class="mr-4">
      <button (click)="setSectionState(SectionState.VISUAL)"  [ngClass]="{ 'highlighted': sectionState === SectionState.VISUAL }">Visual</button>
      <button (click)="setSectionState(SectionState.INVASIVE)"  [ngClass]="{ 'highlighted': sectionState === SectionState.INVASIVE }">Invasive</button>
      <button *ngIf="showConclusiveSection" (click)="setSectionState(SectionState.CONCLUSIVE)" [ngClass]="{ 'highlighted': sectionState === SectionState.CONCLUSIVE }" >Conclusive</button>
    </div>
    <div class="overlay-container" *ngIf="!isRecordFound">
      <div class="overlay">
        <p class="flex-item-overley">Please add data first by clicking on the Add data button.</p>
        <div class="close-button" (click)="closeOverlay()">X</div>
      </div>
    </div>
  <!-- Show app-section-info and app-section-photos when add_data is false -->
  <div class="locationsectioninformation">
    <app-section-info class="flex-item" [rows]="rows" *ngIf="isRecordFound"></app-section-info>
    <app-section-photos [images]="images" [rows]="rows" class="flex-item" *ngIf="isRecordFound"></app-section-photos>
  </div>
   
  </div>
</div>
