
.inner-right{
    padding:2rem;
    width: 100%;
    border-radius:15px;
    background-color: #fff;
    height:75%;
}


.left{
    background-color:#fff;
}

.btn-secondary{
    box-shadow: none;
    margin-left:1rem;
    border:solid 2px #555!important;
    background-color: #555;
    color:#fff;
}

.btn-secondary:hover{
    border:solid 2px #555!important;
    background-color: #fff;
    color:#555;
}

.login-container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-side {
    flex: 1;
    padding: 20px;
  }
  
  .left-side h2 {
    margin-bottom: 20px;
  }
  
  .left-side form div {
    margin-bottom: 10px;
  }
  
  .remember-me {
    margin-bottom: 20px;
  }
  
  .right-side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
  }
  
  .right-side img {
    max-width: 200px;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-side {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right-side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
  }