.horizontal-div {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 20px 10px 10px;

  align-items: center;
  justify-content: space-between;
}


.scrollable-container {
  overflow-y: auto;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
}

.header-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  color: #1f1d1d;
}

.header-component b {
  font-size: 18px;
}

.icons {
  display: flex;
  align-items: center;
}

.icons span {
  margin-right: 15px;
  font-size: 20px;
  color: #888;
}

.full-width {
  width: 100%;
}

/* Example CSS for parent component */
.full-width .download-animation {
  /* Set the styles for the download animation */
  height: 100px;
  width: 100px;
  border: 4px solid #007bff; /* Blue border */
  border-radius: 50%;
  border-top: 4px solid transparent;
  animation: spin 1.5s linear infinite; /* Apply the animation */
}

/* Style for Download Animation */
.download-animation {
  width: 50px;
  height: 50px;
  border: 4px solid #ccc;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.flex-item {
  flex: 1;
  margin-right: 10px;
}

/* Style for Navigation Links */
div > span {
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

div > span:hover {
  background-color: #e0e0e0;
}

/* Style for E3 inspections, WICR, and Image Settings Sections */
div.full-width > div {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Style for Slider */
.mat-slider-horizontal {
  width: 100%;
}

/* Style for Radio Buttons */
.mat-radio-group {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

/* Style for Close Button */
.button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.close-button {
  background-color: #007bff;
  color: white;
}

/* CSS */
.highlight {
  background-color: yellow; /* or any other desired highlight color */
  font-weight: bold; /* for example, you can make the text bold */
  /* Add any other styles you want to apply to the highlighted span */
}


.close-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #797575;
  font-weight:500;
  cursor: pointer;
  z-index: 999;
}
.close-button-container :hover{
  color: #007bff;
}

.close-icon {
  font-size: 24px;
  color: #000;
}

