.horizontal-div {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 20px 10px 10px;
}

.scrollable-container {
  overflow-y: auto;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
}

.header-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.header-component b {
  font-size: 18px;
}

.icons {
  display: flex;
  align-items: center;
}

.icons span {
  margin-right: 15px;
  font-size: 20px;
  color: #888;
}

.full-width {
  width: 100%;
}

/* Example CSS for parent component */
.full-width .download-animation {
  /* Set the styles for the download animation */
  height: 100px;
  width: 100px;
  border: 4px solid #007bff; /* Blue border */
  border-radius: 50%;
  border-top: 4px solid transparent;
  animation: spin 1.5s linear infinite; /* Apply the animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

