<div class="scrollable-container">
  <div class="header-component horizontal-div">
    <div class="flex-item"><b>{{this.projectName}}</b></div>
  </div>
  <div class="full-width">
    <div *ngIf="showLoading">
      <div class="download-animation">
        <!-- Add any additional content or icon for the download animation -->
      </div>
    </div>
    <div *ngIf="!showLoading">
      <app-download-specific-report #appDownloadSpecificReport [title]="'Visual Report'" (downloadReportEvent)="downloadReportEvent($event)" [showLoading]="showLoading"></app-download-specific-report>
      <app-download-specific-report #appDownloadSpecificReport [title]="'Invasive Only Report'" (downloadReportEvent)="downloadReportEvent($event)" [showLoading]="showLoading" ></app-download-specific-report>
      <app-download-specific-report #appDownloadSpecificReport [title]="'Final Report'" (downloadReportEvent)="downloadReportEvent($event)" [showLoading]="showLoading"></app-download-specific-report>
    </div>

  </div>
  <mat-dialog-actions class="button-container">
    <button class="mat-raised-button close-button" (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
