.right-panel {
  flex: 1;
  margin-left: 15px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex: 1;
}

.location-section {
  flex: 1;
  margin-top: 10px;
  background-color: #ffff;
  padding: 10px;
  display: flex;
  overflow: auto;
  border-radius: 16px;
}
