<div class="right-panel full-height">
  <app-project-details-upper-section></app-project-details-upper-section>
  <div class="d-flex justify-content-between mt-3 location-section">
    <app-location-list class="flex-item" header="Building Common Location"
                       [locations]="buildingCommonLocation"></app-location-list>
    <app-location-list class="flex-item ms-2" header="Building Apartments"
                       [locations]="buildingApartments"></app-location-list>
  </div>
</div>
