<div class="right-panel full-height">
  <app-project-details-upper-section>
  </app-project-details-upper-section>

  <div class="project-list-div">
    <!-- <div class="toggle-buttons">
      <button class="tab-btn h6" (click)="showCommonSectionfunc()"
        [ngClass]="{'clicked-button': showCommonSection}">Building Common Locations ({{ buildingCommonLocation.length }})</button>
      <button class="tab-btn h6" (click)="showBuildingSectionfunc()"
        [ngClass]="{'clicked-button': showBuildingSection}">Building Apartments ({{ buildingApartments.length }})</button>
    </div> -->


    <div class="toggle-buttons">
      <button class="tab-btn h6" (click)="showCommonSectionfunc()"
        [ngClass]="{'clicked-button': showCommonSection}">Building Common Locations</button>
      <button class="tab-btn h6" (click)="showBuildingSectionfunc()"
        [ngClass]="{'clicked-button': showBuildingSection}">Building Apartments</button>
    </div>

    <div class="location-section" *ngIf="showCommonSection">
      <app-location-list class="flex-item" header="Building Common Location" [isLoading]="isLoading"
        [locations]="buildingCommonLocation"></app-location-list>
    </div>
    <div class="location-section" *ngIf="showBuildingSection">
      <app-location-list class="flex-item ms-2" header="Building Apartments" [isLoading]="isLoading"
        [locations]="buildingApartments"></app-location-list>
    </div>

  </div>
</div>