<div class="custom-dialog-content">
  <h2 class="modal-title">New Project</h2>
  <div class="close-button-container">
    <span class="close-icon" (click)="close()">&#10005;</span>
  </div>
  
  
  <form [formGroup]="yourForm" class="modal-form">
    <div class="form-group">
      <label class="form-label">Visual Report:</label>
      <div class="radio-group">
        <label class="radio-label">
          <input type="radio" value="option1" formControlName="option">
          Single Level
        </label>
        
        <label class="radio-label">
          <input type="radio" value="option2" formControlName="option">
          Multi Level
        </label>
      </div>
      
    </div>

    <div class="form-group">
      <label class="form-label">Project Name:</label>
      <input type="text" formControlName="name" class="form-control">
    </div>

    <div class="form-group">
      <label class="form-label">Address:</label>
      <textarea formControlName="address" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label class="form-label">Description:</label>
      <textarea formControlName="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label class="form-label">Upload Image:</label>
      <input type="file" (change)="handleFileInput($event)" formControlName="image" class="form-control">
    </div>

    <mat-dialog-actions class="button-container">
      <button class="mat-raised-button close-button" (click)="close()">Close</button>
      <button class="mat-raised-button mat-primary save-button" (click)="save()">Save</button>
    </mat-dialog-actions>
    
  </form>
</div>



