<div class="left-panel scrollable-container full-height" [style.width.px]="panelWidth" (mouseup)="startDrag($event)">
  <ul class="nested-list" style="padding-left: 5px">
    <ng-container *ngFor="let project of projectList">
      <li [class.collapsed]="project.collapsed">
        <span>
          <i class="icon" [class.rotate-icon]="!project.collapsed" (click)="toggleCollapse(project)"></i>
          <span (click)="openProject(project)">{{ project.name }} </span>
        </span>
        <ul *ngIf="!project.collapsed" class="nested-list">
            <ng-container *ngFor="let nestedItem of project.nestedItems">
              <li [class.collapsed]="nestedItem.collapsed">
                <span>
                  <i class="icon" [class.rotate-icon]="!nestedItem.collapsed" (click)="toggleCollapse(nestedItem)"></i>
                  {{ nestedItem.name }}
                </span>
                <ul *ngIf="!nestedItem.collapsed" class="nested-list">
                    <ng-container *ngFor="let location of nestedItem.nestedItems">
                      <li [class.collapsed]="location.collapsed">
                        <span>
                          <i *ngIf="location.nestedItems" class="icon" [class.rotate-icon]="!location.collapsed"
                            (click)="toggleCollapse(location)"></i>
                        </span>
                        {{ location.name }}
                        <ul *ngIf="!location.collapsed" class="nested-list">
                          <li *ngFor="let buildingLocation of location.nestedItems">
                            <span (click)="openLocation(buildingLocation)">{{ buildingLocation.name }}</span>
                          </li>
                        </ul>
                      </li>
                    </ng-container>
                </ul>
              </li>
            </ng-container>
          </ul>
      </li>
    </ng-container>
  </ul>
</div>
