.left-panel {
  padding: 10px;
  width: 309px;
  height: 863px; /* Set the initial width */
  transition: width 0.3s ease; /* Add transition for smooth resizing */
  overflow-x: scroll; /* Hide horizontal overflow */
  white-space: nowrap;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  resize: horizontal; /* Enable resizing */
  min-width: 309px; /* Set the minimum width */
  max-width: 700px; /* Set the maximum width if desired */
  scrollbar-width: thin;
  background-color: #fff;
  border-radius: 16px; 
  flex:0 1 309px;
}

.collapsed {
  width:80px!important;
  min-width:80px;
}

.scrollable-container {
  /* Override the property */
  max-height: 100%;
  width: 309px;
}

.nested-list {
  color: #434242;
  font-weight: 500;
  list-style-type: none;
  padding-left: 25px;
}
.startingtreefrom{
  margin-top: 5px;
  padding-left: 5px
}
.nested-list li {
  position: relative;
  cursor: pointer;
  //margin-bottom: 5px;
}


.nested-list span {
  display: inline-block;
}


.icon {
  /* Add styles for the icon */
  display: inline-block;
  margin-right: 5px; /* Adjust as needed */
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
  background-image: url('../../../../assets/images/collapse.svg');
  background-size: cover;
  width: 20px; /* Adjust the width and height as needed */
  height: 20px;
}

.rotate-icon {
  transform: rotate(90deg); /* Rotate the icon 90 degrees when the item is opened */
}

.highlighted {
  font-weight: 700;
}

.projectname{
  display: flex;
  align-items: center;
  column-gap: 5px;
  
}

ul li{
  position: relative;
}

ul li::before{
  position: absolute;
  left: -15px;
  top:0px;
  border-bottom:2px dotted #666666;
  content: "";
  width:15px;
  height: 1.25em;
}
ul li::after{
  position: absolute;
  left: -15px;
  top:0px;
  border-left: 2px dotted #666666;
  content: "";
  width:8px;
  height: 100%;
}

ul li:last-child::after{
  display: none;
}
ul li:last-child::before{
  border-left: 2px dotted #666666;
}
.firstelements::before{
  display: none;
}

.create_new_folder{
  color: #ED7C1C;
}
.initialcollaps{
  position: relative;
  top:10px;
  left:15px;
}
.initialcollaps::before{
  position: absolute;
  left:-25px;
  top:-5px;
  border-left:2px solid #ED7C1C;
  content: "";
  width:15px;
  height: 1.25em;
}