.left-panel {
  background-color: #f0f0f0;
  padding: 10px;
  width: 200px; /* Set the initial width */
  transition: width 0.3s ease; /* Add transition for smooth resizing */
  overflow-x: hidden; /* Hide horizontal overflow */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  resize: horizontal; /* Enable resizing */
  min-width: 200px; /* Set the minimum width */
  max-width: 700px; /* Set the maximum width if desired */
}
.scrollable-container {
  /* Override the property */
  max-height: 600px;
}

.nested-list {
  list-style-type: none;
  padding-left: 20px;
}

.nested-list li {
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
}

.nested-list li::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  width: 0;
  height: 100%;
  border-left: 1px solid #ccc;
}

.nested-list li.collapsed::before {
  content: "";
}

.nested-list span {
  display: inline-block;
}

.nested-list ul {
  margin-top: 5px;
}
