
  .horizontal-frame {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 62px;
    width: 100%;
    background-color: #FFF;
  }
  
  .company-logo {
    margin-right: 10px;
    margin-left: 74px; /* Adjust the margin as needed */
  }
  
  .page-heading{
    color:#110f4f; 
    font-size: 42px; 
    font-weight: 700;
  }


  .logo-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 62px;
    width: 100%;
    background-color: #FFF;
  }
  
  .main-class {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .users-container {
    display: flex;
    flex: 1;
    overflow: auto;
  }
  
  .users{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .user-filters{
    flex: 15;
    min-height: 15%;
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .filters{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .filters input{
    margin-left: 1rem;
    width: 15%;
    height: 30%;
    outline: none;
    border: none;
    border-bottom: 1px solid silver;
  }

  .filters button{
    margin-left: 1rem;
    width: fit-content;
    height: 30%;
    outline: none;
    border: none;
    background-color: white;
  }

  .users-list{
    flex: 80;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    border: 1px solid silver
  }

  .user{
    // background-color: pink;
    width: 100%;
    min-height: 12%;
    min-width: 700px;
    border-bottom: 1px solid silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
  }

  .users-list :hover{
    background-color: silver;
  }

 .col{
    height: 100%;
    // border: 1px solid pink;
    width: 50%;
    padding-left: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
    font-size: 1rem;
    overflow: hidden;
 }

 .email{
    text-transform: lowercase;
 }

 .col button {
    border: 1px solid silver;
    outline: none;
    border-radius: 50%;
 }


 .headers{
    color: grey;
 }