.container-s {
  display: flex;
  flex: 1;
  gap: 20px;
  background-color: #E8F2FF;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
}

.spinner-border{
  color: orange;
}

.header-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: baseline;
  width: 100%;
  background-color: #ffff;
}
.icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icons i {
  margin-right: 10px; /* Add spacing between the icons */
}

.icons span {
  margin-right: 10px; /* Add space between the plus and bars icons */
}

.flex-item {
  flex: 1; /* Each item grows to occupy the available space */
  align-content: center;
}

.header-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: baseline;
  width: 100%;
}

button.highlighted {
  background-color: #e0e0e0;
  font-weight: bold;
}


