.Container-start{
  display: flex;
  flex: 1;
  row-gap:10px;
  background-color: #E8F2FF;
  flex-direction: column;
  border-radius: 16px;
}

.spinner-border{
  color: orange;
}

.icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icons i {
  margin-right: 15px; /* Add spacing between the icons */
}

.icons span {
  margin-right: 15px; /* Add space between the plus and bars icons */
}

.flex-item {
  flex: 1; /* Each item grows to occupy the available space */
  display: flex;
  justify-content: space-between;
}

.header-component{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  // border-bottom: solid #ffff 10px;
  padding-left: 5px;
}

.header-component div{
  display: flex;
  padding:5px;
  width: 324px;
  height:40px;
  color:#000000;
  font-weight: 700;
  font-size: 25px;
  border-radius:  8px;
  background-color: #E8F2FF;
}

// .header-text
// {
//   font-size: 20px;
// }

button.highlighted {
  background-color: #e0e0e0;
  font-weight: bold;
}


.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



