<div class="Container-start">
      <div class="header-component">
        <div class="flex-item"><b>{{ header }}</b>
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </span>
        </div>
      </div>
      <div *ngFor="let section of sections">
        <app-section-list-element
          (click)="fetchDataForGivenSectionId(section)"
          [section]="section"
          [isHighlighted]="section._id === this.currentSection?._id"
          (deleteElement)="deleteElement($event)"
        ></app-section-list-element>
      </div>

</div>


