<div class="container-s scrollable-container">
      <div class="header-component">
        <div class="flex-item"><span style="margin-right: 5px"><b>{{ header }}</b></span>
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </span>
        </div>
        </div>
      <div *ngFor="let section of sections">
        <app-section-list-element
          (click)="fetchDataForGivenSectionId(section)"
          [section]="section"
          [isHighlighted]="section._id === this.currentSection?._id"
          (deleteElement)="deleteElement($event)"
        ></app-section-list-element>
      </div>

</div>


