<!-- form-component.component.html -->
<div class="form-container">
  <div class="form-header">
    <p><b>Conclusive Report</b></p>
  </div>
  <div class="form-body" [formGroup]="conclusiveDeckReportModalForm">
    <div class="form-field">
      <label>Post Invasive Report required</label>
      <div class="radio-group">
        <label for="yes"><input formControlName="invasiverepairsinspectedandcompleted" type="radio" id="yes" value="True" name="invasiverepairsinspectedandcompleted">Yes</label>
        <label for="no"><input formControlName="invasiverepairsinspectedandcompleted" type="radio" id="no" value="False" name="invasiverepairsinspectedandcompleted">No</label>
      </div>
    </div>
    <div class="form-field">
      <label>Property Owner Agreed</label>
      <div class="radio-group">
        <label for="yes1"><input formControlName="propowneragreed" type="radio" id="yes1" value="True" name="propowneragreed">Yes</label>
        <label for="no1"><input formControlName="propowneragreed" type="radio" id="no1" value="False" name="propowneragreed">No</label>
      </div>
    </div>
    <div *ngIf="showContent()">
      <div class="form-field">
        <label for="description">Conclusive Consideration</label>
        <textarea formControlName="conclusiveconsiderations" id="description" name="conclusiveconsiderations" rows="4"></textarea>
      </div>
      <div class="form-field">
        <label>Life Expectancy Exterior Elevated Elements (EEE) Conclusive</label>
        <div class="radio-group">
          <label for="0-1yrs"><input type="radio" id="0-1yrs" value="one" name="EEE" formControlName="EEE">0-1 Years</label>
          <label for="1-4yrs"><input type="radio" id="1-4yrs" value="four" name="EEE" formControlName="EEE">1-4 Years</label>
          <label for="4-7yrs"><input type="radio" id="4-7yrs" value="seven" name="EEE" formControlName="EEE">4-7 Years</label>
          <label for="7+yrs"><input type="radio" id="7+yrs" value="sevenplus" name="EEE" formControlName="EEE">7+ Years</label>
        </div>
      </div>
      <div class="form-field">
        <label>Life Expectancy Load Bearing Componenets (LBC) Conclusive</label>
        <div class="radio-group">
          <label  for="0-1yrs1"><input type="radio" id="0-1yrs1" value="one" name="LBC" formControlName="LBC">0-1 Years</label>
          <label  for="1-4yrs1"><input type="radio" id="1-4yrs1" value="four" name="LBC" formControlName="LBC">1-4 Years</label>
          <label  for="4-7yrs1"><input type="radio" id="4-7yrs1" value="seven" name="LBC" formControlName="LBC">4-7 Years</label>
          <label  for="7+yrs1"><input type="radio" id="7+yrs1" value="sevenplus" name="LBC" formControlName="LBC">7+ Years</label>
        </div>
      </div>
      <div class="form-field">
        <label>Life Expectancy Associated Waterproofing Elements (AWE) Conclusive</label>
        <div class="radio-group">
          <label for="0-1yrsAWE"><input type="radio" id="0-1yrsAWE" value="one" name="AWE" formControlName="AWE">0-1 Years</label>
          <label for="1-4yrsAWE"><input type="radio" id="1-4yrsAWE" value="four" name="AWE" formControlName="AWE">1-4 Years</label>
          <label for="4-7yrsAWE"><input type="radio" id="4-7yrsAWE" value="seven" name="AWE" formControlName="AWE">4-7 Years</label>
          <label for="7+yrsAWE"><input type="radio" id="7+yrsAWE" value="sevenplus" name="AWE" formControlName="AWE">7+ Years</label>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Upload Image:</label>
        <input type="file" (change)="handleFileInput($event)" class="form-control" multiple>
        <div *ngFor="let imageUrl of imagePreviewUrls; let i = index" class="image-preview">
          <img [src]="imageUrl" alt="Image Preview" class="preview-image">
          <span class="close-icon-img" (click)="removeImage(i)">&times;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="save-button" (click)="save()">Save</button>
    <button class="close-button" (click)="close()">Close</button>
  </div>
</div>

