/* You can add global styles to this file, and also import other style files */
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888888 transparent;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888888; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Set the border radius of the scrollbar thumb */
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

