
.Describer{
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex:1 1;
    color: #8C8C8C;
    font-size:14px;
    font-weight: 400;
}
li{
    list-style: none;
}
#name{
    width: 30%;
    flex-shrink:1;
}
#A_User{
width:16%;
    //float:left;
}
#Type{
    width:6%;
    //float: right;
}
#As_User{
    //margin-left:40px;
    width:15%;
}
#Upload{
    width:5%;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
