
.Describer{
    height: 35px;
    display: flex;
    // align-items: left;
    // justify-content: space-between;
    flex:1;
    // padding-top: 15px;
    // margin-bottom: 10px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex:1;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 400;
}
li{
    list-style: none;
}
#A_User{
    margin-left:260px;
}
#A_Offline{
    margin-left:100px;
}
#Type{
    margin-left:83px;
}
#As_User{
    margin-left:55px;
    width:130px;
}
#Upload{
    margin-left:40px;
}

// .download
// {
//     margin-left: px;
// }
p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
