.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  
}

.collapsed {
  width: 75px;
}

.collapsible {
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: #f0f0f0;
  //border: none;
  border-radius: 16px;
  height: 40px;
  text-align: left;
  outline: none;
  transition: background-color 2.8s ease-out; /* Adjust the duration to make it smoother */
  -moz-transition: background-color 2.8s ease-out; /* Adjust the duration to make it smoother */
}

.collapsed .collapsible {
  background-color: transparent;
  width: fit-content;
  margin: auto;
}

.sidebar-block{
  display: block;
  width: 175px;
  top: 136px;
  left: 27px;
  border-radius: 16px;
  background-color: #f0f0f0;
  flex:1;
}

.collapsed .sidebar-block {
  background-color: transparent;
}

.sidebar-content {
  display: block;
  transition: opacity 0.8s ease-out;
  -moz-transition: opacity 0.8s ease-out;
  padding: 10px;
}

.collapsed .sidebar-content {
  //opacity: 0;
}

/* Hide spans with names when the sidebar is collapsed */
.collapsed .sidebar-content ul span {
  display: none;
  opacity: 0;
}

.sidebar-content ul {
  margin: 0;
  padding: 0;
}

.sidebar-content li {
  list-style-type: none;
  margin-bottom: 10px;
}

.sidebar-content a {
  display: block;
  padding: 5px;
  color: #333;
  border-radius: 13px;
  text-decoration: none;
  transition: background-color 0.8s ease-out;
  -moz-transition: background-color 0.8s ease-out;
}

.sidebar-content a:hover {
  background-color: #ED7C1C;
  border-radius: 13px;
}

.collapsed .sidebar-content a:hover {
  background-color: #ED7C1C;
  border-radius: 13px;
  width: 40px;
}


.sidebar-content .active a {
  background-color: #ED7C1C;
  border-radius: 13px;
  color: #fff; /* You may want to change the text color to make it more visible */
}
.collapsed .sidebar-content .active a {
  background-color: #ED7C1C;
  border-radius: 13px;
  color: #fff;
  width: 40px;/* You may want to change the text color to make it more visible */
}

