.user-icon {
  height: 50px;
  width: 50px;
  font-size: 45px;
  border-style: groove;
  border-radius: 100%;
  align-items: center;
  margin: 0px auto; /* Add this to center the icon horizontally */
}

.user-details {
  align-items: center;
  text-align: center; /* Center the text */
  margin-top: 0px;
}

.user-details p.name {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

.user-details p.role {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.user-details p {
  line-height: 1;
}

.container.sidebar .user-icon,
.container.sidebar .user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container.sidebar.collapsed .user-icon
{
  margin-left: 0px;
}

.sidebar {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  border-radius: 16px;
  max-height: 100%;
}

a{
  display:flex;
  flex-direction: row;
  align-items: center;
  color: #797575;
  font-weight: 600;
  font-size: 15.06px;
}

.collapsed {
  max-width:80px;
}

.collapsible {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 16px;
  height: 40px;
  text-align: left;
  outline: none;
  transition: background-color 2.8s ease-out; /* Adjust the duration to make it smoother */
  -moz-transition: background-color 2.8s ease-out; /* Adjust the duration to make it smoother */
}

.collapsed .collapsible {
  background-color: transparent;
  width: fit-content;
  margin: auto;
}

.sidebar-block{
  display: block;
  min-width: 193px;
  top: 136px;
  left:5px;
  border-radius: 16px;
  flex:1;
}

.collapsed .sidebar-block {
  background-color: transparent;
}

.sidebar-content {
  display: block;
  padding-left: 5px;
  transition: opacity 0.8s ease-out;
  -moz-transition: opacity 0.8s ease-out;
  height: 85%;
  //padding: 10px;
}

ul{
  height: 100%;
}
/* Hide spans with names when the sidebar is collapsed */
.collapsed .sidebar-content ul span {
  display: none;
  opacity: 0;
}

.sidebar-content ul {
  margin-top:20px;
  padding: 0;
}

.sidebar-content li {
  list-style-type: none;
  margin-bottom: 10px;
}

.sidebar-content a {
  display: block;
  display: flex;
  align-items: center;
  padding: 5px;
  color: #797575;
  border-radius: 13px;
  text-decoration: none;
  transition: background-color 0.8s ease-out;
  -moz-transition: background-color 0.8s ease-out;
}

.sidebar-content a:hover {
  background-color: #ED7C1C;
  border-radius: 12.55px;
  width: 192.91px;
  height: 50.97px;
  display: flex;
  align-items: center;
  color: #fff;
}

.collapsed .sidebar-content .active a {
  background-color: #ED7C1C;
  border-radius: 8px;
  color: #ffff;
  width: 50px;/* You may want to change the text color to make it more visible */
  height:41px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left:-5px;
}
i{
  font-size:27px;
}

.sidebar-section
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lower-section {
  margin-top: auto; /* This pushes the lower section to the bottom */
}

.company-logo {
  margin-left: 5px;
  height: 100px;
  // margin-left: 74px; /* Adjust the margin as needed */
}

.collapsed .company-logo {
  height: 50px;
  width: 50px;
}

.container.sidebar.collapsed .user-details {
  display: none;
}


.user-section
{
  // margin-top: 450px;
  margin-bottom: 15px;
}

// .sign-out-btn
// {
//   display: flex;
//   justify-content: center;
// }


// .sign-out-btn.collapsed
// {
//   display: flex;
//   justify-content: start;
// }

// .container.sidebar .user-icon {
//   display: none;
// }

// .container.sidebar.collapsed .user-icon {
//   display: block;
// }

