.navbar
{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FFFFFF;
  z-index: 1;
}

a {
  font-weight: 700;
  color: #ED7C1C;
  font-size: 15px;
  // margin-top: 20px;
}

.left
{
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link
{
  color: black;
}

.nav-underline .nav-link.active
{
  color: #ED7C1C;
}

.nav-link:hover
{
  color: #ED7C1C;
}

.user-details {
  align-items: center;
  text-align: center; /* Center the text */
  padding-top: 15px;
  padding-bottom: 15px;
}

.user-details p.name {
  // font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

.user-details p.role {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.user-details p {
  line-height: 1.25;
  font-size: 12px;
}

.left-section
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-section
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name 
{
  align-items: center;
  margin-left: 10px;
  margin-top: 7px;
  font-size: 12px;
}

.user-icon {
  height: 32px;
  width: 32px;
  font-size: 27px;
  font-weight: 200;
  // border-style: solid;
  border: 1px solid;
  border-radius: 100%;
  align-items: center;
  margin: 0px auto; /* Add this to center the icon horizontally */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  min-height: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  padding: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sign-out-btn
{
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  height: 25px;
  width: 70px;
  background-color: #ED7C1C;
  border-radius: 4px;
  margin-top: 10px;
  align-items: center;
}

.sign-out-btn span
{
  font-size: 10px;
  color: #FFFFFF;
  align-items: center;
  // margin-bottom: 10px;
  margin-left: 2px;
}

.sign-out-btn i
{
  font-size: 11px;
  color: #FFFFFF;
  align-items: center;
  // margin-top: 5px;
}

.so-btn
{
  display: flex;
  justify-content: center;
}

img {
  display: block;
  // max-width:60px;
  // max-height:60px;
  // width: auto;
  // height: auto;
}