<nav class="navbar fixed-top">
  <!-- <div class="container"> -->
    <div class="left-section">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/image_1.png" alt="Bootstrap" width="60" height="60">
      </a>
      <ul class="nav nav-underline">
        <li class="nav-item left">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" (click)="gotoHome()">
            Projects
          </a>
        </li>
        <li class="nav-item left" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">
            Users
          </a>
        </li>
      </ul>
    </div>

    <div class="right-section">
      <div class="dropdown">
        <button class="dropdown-btn">
        <i class="material-symbols-outlined user-icon">
          person
        </i>
        <span>
          <p class="name">{{ firstName }}</p>
        </span>
        </button>
        <div class="dropdown-content">
          <span class="user-details">
            <p class="name">{{ name }}</p>
            <p class="role">{{ role }}</p>
          </span>
          <div class="so-btn">
            <button class="nav-link sign-out-btn" routerLink="/login" routerLinkActive="active" (click)="logout()">
              <i class="material-symbols-outlined">logout</i>
              <span>&nbsp;Sign Out</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</nav>
