<!-- file-upload.component.html -->
<div class="file-upload">

  <div class="container mt-4">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Uploader</th>
          <th>Uploaded on</th>
          <th>Download</th>
          <th>Copy Link</th>
          <th>Delete</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngIf="projectFiles?.length === 0">
          <td colspan="5" class="text-center">No files found.</td>
        </tr>
        <tr *ngFor="let item of projectFiles">
          <td>{{ item.name }}</td>
          <td>{{ item.uploader }}</td>
          <td>{{ formatUploadTime(item.timestamp) }}</td>
          <td>
            <div class="container">
              <div class="text-center">
                <a href="{{item.url}}" class="btn btn-primary btn-sm">
                  <i class="fas fa-cloud-download-alt"></i>
                </a>
              </div>
            </div>
          </td>
          <td>
            <div class="container">
              <div class="text-center">
                <button class="btn btn-primary btn-sm" (click)="copyLink(item.url)">
                  <i class="fas fa-copy"></i>
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="container">
              <div class="text-center">
                <button class="btn btn-danger btn-sm" (click)="deleteDocument(item._id,item.name)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <label for="fileInput" class="upload-button">Upload Files</label>
  <input type="file" id="fileInput" (change)="handleFileUpload($event)" multiple style="display: none;">
  <div class="preview-window" *ngIf="isUploaded">
    <h3>Preview</h3>
    <ul>
      <li *ngFor="let file of fileList; let i = index" class="file-item">
        <span class="file-icon"><i class="far fa-file"></i></span>
        <div class="file-details">
          <span class="file-name">{{ file.name }}</span>
          <span class="file-time">{{ formatUploadTime(file.lastModified) }}</span>
        </div>
        <span class="remove-button" (click)="removeFile(i)">&times;</span>
      </li>
    </ul>

    <div class="button-container">
      <button class="save-button" (click)="save()" >
        <span *ngIf="isUploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Save
      </button>
    </div>
  </div>
  <button class="close-button" (click)="closeModal()">Close</button>
</div>
